[2020-06-13 03:49] mikehelmick opened #4 "Issue codes w/ predefined certificate"

[2020-06-13 03:50] mikehelmick opened #5 "Auto create user record for all users"
should be created w/ disabled = true
add created_at
add updated_at

Users disabled = true and updated_at > 30d will be purged

[2020-06-13 03:51] mikehelmick opened #6 "user admin"
Add admin page for admins to make other users admin and enable/disable other user accounts

[2020-06-13 03:51] mikehelmick opened #7 "cleanup job"
implement functionality to delete expired data

includes stale user records

[2020-06-13 03:52] mikehelmick opened #8 "key rotation"
implement key rotation functionality

key versions should be allowed to be scheduled for the future to have time to communicate the public key tot he exposure notifications server

[2020-06-13 03:53] mikehelmick opened #9 "GCP terraform configs"

[2020-06-13 03:59] mikehelmick opened #10 "Set up CLA bot"

[2020-06-13 04:02] mikehelmick opened #11 "Add API for code issue"
to enable end to end test scenarios.

[2020-06-15 15:57] mikehelmick opened #13 "Implement exchange protocol"
Implement the verification code flow

https://developers.google.com/android/exposure-notifications/verification-system#flow-diagram

[2020-06-15 18:22] mikehelmick opened #14 "consider pure JS instead of jquery"

[2020-06-15 18:29] mikehelmick opened #15 "Investigate moving session loading/checks into gin middleware"

[2020-06-15 18:43] mikehelmick opened #16 "add flash cookies for sending information between pages"

[2020-06-15 23:44] sethvargo opened #19 "Migrations require full configuration"
Running the migrations also requires a firebase API key because the field is marked as required by envconfig, and it's an embedded struct in the parent config. We should either create a separate config just for the database or allow the API key to be empty during processing and validate it later.

[2020-06-16 00:29] #10 closed, assigned to crwilcox

[2020-06-16 05:59] #11 closed, assigned to nobody

[2020-06-16 06:00] mikehelmick opened #22 "API Keys - issue / view"
Add Admin page for listing and adding API keys

API Keys will go to mobile app developers when the make verification code redemption calls.

[2020-06-16 06:04] #19 closed, assigned to sethvargo

[2020-06-16 16:31] #16 closed, assigned to mikehelmick

[2020-06-16 16:31] #22 closed, assigned to mikehelmick

[2020-06-16 23:07] #9 closed, assigned to nobody

[2020-06-17 23:55] sethvargo opened #28 "Standardize redirect codes"
We have a mix of 302, 303, and 307. We should pick one and use it everywhere when redirecting.

[2020-06-18 01:16] sethvargo opened #30 "Cache database user reads"
https://github.com/google/exposure-notifications-verification-server/pull/27#discussion_r441908612

[2020-06-18 01:16] #15 closed, assigned to nobody

[2020-06-18 01:57] #4 closed, assigned to mikehelmick

[2020-06-18 01:58] mikehelmick opened #31 "update terraform"
To include both signing keys

and iss/aud configuration.

[2020-06-18 02:00] mikehelmick opened #32 "Update README"
Doesn't have latest instructions!

[2020-06-18 21:20] #13 closed, assigned to mikehelmick

[2020-06-18 21:24] #8 closed, assigned to nobody

[2020-06-18 22:10] mikehelmick opened #38 "add basic log based metrics"
Add basic log based metrics

[2020-06-18 22:41] sethvargo opened #39 "Firebase privacy and TOS urls are example.com"
Should fix before OSS

[2020-06-18 23:40] #31 closed, assigned to nobody

[2020-06-18 23:40] #28 closed, assigned to nobody

[2020-06-18 23:40] #14 closed, assigned to nobody

[2020-06-19 00:20] mikehelmick opened #42 "Add rate limiting per API key"
### TL;DR

Investigate adding rate limiting per API key or by IP address  Will need tuning params for autoscaled vs non-autoscaled environments.

### Design

**Proposal**

A simple inmemory cache that limits an apikey to a certain number of requests per period on a given instance of the server.

[2020-06-19 15:55] #42 closed, assigned to nobody

[2020-06-19 18:59] mikehelmick opened #47 "Add 'kid' header for all JWTs"
Should be configurable as well and enforced on token validation

[2020-06-19 19:00] laurentsimon opened #48 "lack of csrf protections for POST requests"
There are several POST requests defined in [server/main.go](https://github.com/google/exposure-notifications-verification-server/blob/main/cmd/server/main.go). I list a few below:

1. ["/api/issue"](https://github.com/google/exposure-notifications-verification-server/blob/main/cmd/server/main.go#L111). This could allow an attacker to generate many VCs and increase the probability of guessing a val

[2020-06-19 19:07] laurentsimon opened #49 "use unsigned for never-negative values"
Many integers that should always be positive are declared as `int`. If possible, we should declare these as `unsigned int`. Some example: [config.go](https://github.com/google/exposure-notifications-verification-server/blob/main/pkg/config/config.go) for CodeDigits and ColissionRetryCount (typo -> CollisionRetryCount), [code.go](https://github.com/google/exposure-notifications-verification-server/

[2020-06-19 19:09] laurentsimon opened #50 "verify "sub" of JWT"
in [certificate.go](https://github.com/google/exposure-notifications-verification-server/blob/main/pkg/controller/certapi/certificate.go#L91), we may additionally verify the sub has the right format.

[2020-06-19 19:10] laurentsimon opened #51 "validate HMAC length"
in [certificate.go#L135](https://github.com/google/exposure-notifications-verification-server/blob/main/pkg/controller/certapi/certificate.go#L135), we may verify the HMAC we're blindly signing has the right length of 32 bytes.

[2020-06-19 19:17] laurentsimon opened #52 "validate testDate server side"
In the [home.html](https://github.com/google/exposure-notifications-verification-server/blob/main/cmd/server/assets/home.html#L56), there's a comment that testData "cannot be more than 14 days prior to today".

We're not verifying this is the case server side in [issue.go#L66](https://github.com/google/exposure-notifications-verification-server/blob/main/pkg/controller/issueapi/issue.go#L66)

[2020-06-19 19:21] laurentsimon opened #53 "in which scenario will we need authorizedapp?"
authorizedapp is set in [apikey.go#L79(]https://github.com/google/exposure-notifications-verification-server/blob/main/pkg/controller/middleware/apikey.go#L79) but never read or checked.

I'm curious in which scenarios an actual implementation may use it? I don't think a server implementation would want to differentiate between different apps when storing the keys in the database - as it may provi

[2020-06-19 19:25] laurentsimon opened #54 "update IssueToken() function name"
[IssueToken()](https://github.com/google/exposure-notifications-verification-server/blob/main/pkg/controller/verifyapi/verify.go#L73) both verifies a VC and issues a token.

We may want to change its name to reflect that.

[2020-06-19 19:31] laurentsimon opened #55 "OTPs generation is biased"
OTPs are generated in [code.go#L44](https://github.com/google/exposure-notifications-verification-server/blob/main/pkg/otp/code.go#L44).

Because 10 is not a divisor of 256, digits are not equally likely:
- digits 0...5 have have probability 26/256
- digits 6...9 have probability have 25/256

A possible fix is be to use `rand.Int(0, 10^setLength).

[2020-06-19 19:55] #7 closed, assigned to mikehelmick

[2020-06-19 20:01] #32 closed, assigned to mikehelmick

[2020-06-20 17:33] #51 closed, assigned to mikehelmick

[2020-06-20 17:33] #54 closed, assigned to mikehelmick

[2020-06-20 17:33] #52 closed, assigned to mikehelmick

[2020-06-20 20:22] #55 closed, assigned to mikehelmick

[2020-06-20 20:23] #47 closed, assigned to mikehelmick

[2020-06-20 21:14] mikehelmick opened #63 "Better handling of test date for different locales"
### TL;DR

Currently the test dates are all captured and stored at UTC.

It would be nice to let the epi specify the test date in the local time zone, which can be conveyed back to the user through the app, etc.

[2020-06-21 15:21] #50 closed, assigned to mikehelmick

[2020-06-21 15:21] #49 closed, assigned to mikehelmick

[2020-06-22 16:21] mikehelmick opened #66 "Update terraform for 3 server deployment"
in addition to server we now have apiserver and cleanup (needs redirection of scheduler)

[2020-06-22 17:14] #48 closed, assigned to mikehelmick

[2020-06-23 02:19] #6 closed, assigned to crwilcox

[2020-06-23 14:00] sethvargo opened #71 "Break apart monoconfig"
The current config requires firebase, database, and csrf. Not all services need that (e.g. cleanup only needs the database, apiserver doesn't need csrf), but we have to set all those values on the service because they are required fields in the mega config.

[2020-06-23 21:10] #66 closed, assigned to sethvargo

[2020-06-24 20:44] mikehelmick commented on #71
/assign

[2020-06-24 20:44] mikehelmick commented on #71
oh, now prow yet

[2020-06-24 21:03] mikehelmick commented on #71
/assign

[2020-06-24 21:52] crwilcox commented on #71
/assign mikehelmick

[2020-06-24 22:27] mikehelmick opened #76 "Implement per-user quotas for issuing codes"
Impose a limit on the number of codes an individual login can issue over a period of time

Provide reports to admins on the number of codes issues by each user

@crwilcox  tracking list of parts:
- [x] Rate Limit Logged In Users on Admin pages. (#113)
- [x] Add Audit Tracing to Keys, marking who generated (#118)
- [x] Add an admin page showing Verification Codes created per user. (#152)
- [ ] Add

[2020-06-25 09:52] zssz opened #77 "Local Dev Config fails with database gorm.Open: pq: password authentication failed for user "en-verification-server""
Following the [Configuring your Development Environment for Running Locally](https://github.com/google/exposure-notifications-verification-server#configuring-your-development-environment-for-running-locally) instructions I get an authentication error when running `./scripts/dev dbmigrate`.

To fix the issue, I tried to manually change the password of the "en-verification-server" user, but it didn'

[2020-06-25 13:07] zssz opened #79 "apiserver and cleanup Cloud Run services fail to start due to csrf token 'secretmanager.versions.access' denied"
Using Terraform to deploy I get the following error:

[code]

Digging into the Cloud Run logs, it looks like it's related to permission denied while accessing the csrf-token:

[code]

[2020-06-25 13:49] sethvargo commented on #77
Did you `eval` the result of `./scripts/dev init`? You shouldn't need to do anything with the database password either.

[2020-06-25 13:50] sethvargo commented on #79
/assign

[2020-06-25 14:50] #79 closed

[2020-06-25 16:24] zssz commented on #77
@sethvargo: Yes, I did run `eval $(./scripts/dev init)`. For your reference, here's the output without eval:

[code]

I can start the database, but anything related to connecting and authenticating to it fails, e.g., using the `add-users` command is failing too:

[code]

[2020-06-25 17:26] mikehelmick commented on #77
Do you happen to already have a local version of postgres running on your laptop?

If so, you might need to select a different `DB_PORT`

[2020-06-25 18:30] zssz commented on #77
@mikehelmick Yes, that was it. The `DB_PORT` was already used by another process (cloud_sql_proxy). Thank you!

[2020-06-25 18:30] #77 closed

[2020-06-25 20:32] #71 closed

[2020-06-25 22:05] zssz opened #83 "Cloud Run services deployment config error: input must be a struct"
All three services fail to deploy to GCP from the latest commit (132ed4ed0968f6e8a8d7a11c369fcd5df00bd287), but not from the previous commit (6bb10d3fd57137fe90e289f442f42f3a684e4e69).

Cloud Run Logs say:

[code]

The commands I ran on 132ed4ed0968f6e8a8d7a11c369fcd5df00bd287:
1. `terraform apply`
2. `./scripts/build`
3. `export TAG="132ed4e"`
4. `./scripts/deploy`

[2020-06-25 22:18] mikehelmick commented on #83
Does that have a stack trace with it?

[2020-06-25 22:20] mikehelmick commented on #83
/assign

I have reproduce this - fix incoming shortly. Sorry for the breakage.

[2020-06-25 23:00] #83 closed

[2020-06-26 05:53] madhavajay opened #86 "unable to create client session en-verification-server-sa missing firebase admin sdk role"
Following the README.md on 6e69aceb865eaa362afd988bbdece90de82bbaa1

After deploying via Terraform, the admin account for the "server" container was able to be created via cloud_sql_proxy and then a firebase account can be created via the firebase auth interface which succeeds; however upon login user is given error:

[code]

However, everything works on the local setup due to the use of the use o

[2020-06-26 12:58] sethvargo commented on #86
I can get to this when I'm back. Alternatively, we need to assign the firebase admin permissions to the service account running the server.

[2020-06-30 13:49] zssz opened #89 "[GCP] /api/verify unable to get signing key"
[Preamble] I succeeded in getting a long-term token by exchanging short-term token on a local dev environment:

[code]

I am trying to do the same on a GCP-deployed server, but fail to do so.

Cloud Run logs:
`2020-06-30 15:22:19.926 EESTunable to get signing key: failed to fetch public key: rpc error: code = InvalidArgument desc = Resource name 'projects/REDACTED/locations/us-central1/keyRings/ve

[2020-06-30 15:00] sethvargo commented on #89
Ah. We need to set the _version_, not the key. This is a bug. I'm OOO this week. A primitive fix is to append `/cryptoKeyVersions/1` to that URL. A more sophisticated fix would use a data source to lookup the version and its self link.

[2020-06-30 15:05] zssz commented on #89
I modified the URL to point to `/cryptoKeyVersions/1`, but that doesn't make the problem go away (see PermissionDenied error in the Cloud Run log in the bottom of my previous message).

[2020-06-30 15:08] sethvargo commented on #89
Can you check if the key exists in that region in your project?

[2020-06-30 15:14] zssz commented on #89
It looks like they exist:
[code]

[2020-07-01 03:44] mikehelmick commented on #89
/assign

working on a fix for this now.

[2020-07-01 04:05] mikehelmick commented on #86
/assign

[2020-07-01 04:47] mikehelmick opened #91 "token exchange fails with blank test date"
### TL;DR

Token exchange fails if the test date is blank

**Expected behavior**

this should work

**Observed behavior**

got metadata mismatch error

/assign

[2020-07-01 15:09] #86 closed

[2020-07-01 15:09] #89 closed

[2020-07-01 20:15] mikehelmick opened #93 "Implement JWKS discovery for verification certificate keys"
### TL;DR

In order to facilitate key rotation and automatic discovery by an exposure notifications server, implement a JWKS document endpoint that provides the current public key material.

### Design

**Proposal**

Needs to be a well known - unauthenticated endpoint for retrieval.

the KIDs need to be encoded in such a way that they can convey multi-tenancy of the verification server.

For examp

[2020-07-01 20:53] mikehelmick opened #94 "Token key rotation"
Implement key rotation for the verification tokens. These tokens/keys are only used within this server, so no external discovery mechanism is needed.

/kind enhancement

[2020-07-05 01:01] colbymorrison opened #95 "Log into Server via Http"
### Question
Hi, I'm volunteering over at Covid Watch. As mentioned in my colleague @ibeckermayer 's [PR](https://github.com/google/exposure-notifications-verification-server/pull/88), we have a [web app](https://github.com/covidwatchorg/permission-portal) that we'd like to request verification codes from this server. I wrote a solution for our short-term/demo use that integrates our app with the

[2020-07-07 20:42] mikehelmick commented on #95
/cc @ibeckermayer

Thanks - I think the use case for unattended access makes sense. It sounds like in your console, there is an authenticated and trusted human who is logged in and responsible for issuing diagnosis verification codes to end users.

Having all users from your frontend come in as a single API key. We're scheduling additional quota and abuse detection work. In that model, having your

[2020-07-07 21:23] ibeckermayer commented on #95
Yes. We have our own human authentication system, and the verification code cloud function will only be invoke-able by "human-level" authenticated users.

Apologies, I'm not quite up to speed on what PHA means, and couldn't determine it from the context + google-search. (If it's not super relevant to our work then no need to get into the gritty details on my behalf, see response to other q's below

[2020-07-08 22:19] mikehelmick commented on #95
ok, if you're operating the verification server yourself, I think that opens up a few more options.
My recommendation would be to run this in a mode where the API for issuing verification codes is not on the public internet. In our model, where we're running the frontend and making the ajax calls to the apiserver, it needs to be public.

@ibeckermayer - re your PR. I think the best path is to crea

[2020-07-08 22:33] mikehelmick commented on #95
I think option 2 that I mentioned would be good for enabling e2e test scenarios as well - so probably a point in favor of that choice.

[2020-07-09 19:58] johnschoeman opened #103 "Receiving metadata mismatch error when returning received jwt for a verified code."
### TL;DR

After hitting the verify endpoint, `api/verify`, and receiving a verification token, we post to the get-certificate endpoint, `api/certificate`,  with the token and our Hmac of our exposure keys and we are getting the following error:

[code]

Looking for guidance on if this is a bug in the server logic when looking up the token, or if we are misunderstanding the intended flow here.

**

[2020-07-09 20:04] mikehelmick commented on #103
Do you have any sever logs you can share?

[2020-07-09 20:08] mikehelmick commented on #103
Also - can you confirm that you are on the latest version - I may just fixed this [yesterday](https://github.com/google/exposure-notifications-verification-server/commit/21e98b40f7c6679d3d5f51419ec1642db7c6ea81)

[2020-07-09 22:20] ibeckermayer commented on #95
@mikehelmick Thanks for this advice, it's extremely helpful. Between those two options, I'm inclined to go with option 1 in order to prevent a the probably-inevitable headache where somebody mistakenly exposes an API key in one of our open source repos, and we wind up compromising the notification system for an entire state or country. Plus in general it makes sense to keep private APIs private.

[2020-07-09 22:38] mikehelmick commented on #95
We're going to end up implementing option 2 for end to end tests internally. We just won't deploy that configuration in production.

I think it ends up being the same thing - new server that supports just the issue API and optionally has APIKey middleware installed.

Re: setup. Our default setup (See /terraform/ directory) uses [Cloud Run](https://cloud.google.com/run) instead of VMs. We do connec

[2020-07-09 22:53] mikehelmick commented on #91
this has been fixed, forgot to tag PR

[2020-07-09 22:53] #91 closed

[2020-07-09 23:25] mikehelmick opened #104 "Make server multi-tenant"
### TL;DR

Make the server multi-tenant, allowing for different "realms".

### Design

**Proposal**

All realm type.
A user can be authorized to use a realm and or authorized to be an admin for a realm.

API keys will be scoped to an individual realm.

Certificate keys will be on a per-realm basis.

Verification codes - open question on if these should be a large shared namespace. if API Keys are

[2020-07-10 15:17] ibeckermayer commented on #95
Right, in that case we'll await your updates and just unplug the api key middlewear.

Thanks for pointing that out, I hadn't looked at it. I think we'll try and mimic your set up then, my suggestion of VM's over Cloud Run was based on ignorance of the latter.

I think this settles all of our open questions on the Covid Watch side, feel free to close this issue and we'll keep an eye out for the imp

[2020-07-12 16:56] johnschoeman commented on #103
@mikehelmick , thanks for the quick response! I confirmed with @sherifkozman that we are likely not on the most recent version. I will wait till that is upgraded and give it another pass on the client side.

[2020-07-13 16:03] mikehelmick opened #108 "Improve formation of chaff requests"
Use https://github.com/mikehelmick/go-chaff to track real responses and return heuristically valid responses.

[2020-07-13 18:26] mikehelmick commented on #103
sounds good - let me know if the latest version works

/assign @johnschoeman

[2020-07-13 18:32] johnschoeman commented on #103
@mikehelmick , the latest version seems to be working!  Thank you for your help, going to close the issue as it has been resolved for us.

[2020-07-13 18:32] #103 closed

[2020-07-13 19:23] Ferrumofomega opened #109 "Verification Code Status"
### TL;DR

Once an authentication code is issued for a positive test in the verification service, we would like to track the expiration timestamp and if the code was used, so that we can enable more workflows (both automated at not). Right now the database stores these data, but does not expose to the user and or via API.

[This feature was requested by a jurisdiction looking to launch immediately

[2020-07-14 15:16] ibeckermayer commented on #95
@mikehelmick do you have an estimate for when you think this setup will be implemented in the main branch?

We're hoping to roll out a production ready server within the next 2 weeks for the University of Arizona. Totally understandable if it's lower priority for you team, just trying to decide whether I should keep watching for PR's, or whether we should just go ahead and spin it up ourselves in

[2020-07-14 16:05] ibeckermayer commented on #95
Got it, in that case I’ll take another stab at it.

[2020-07-14 21:16] crwilcox commented on #109
@Ferrumofomega I may not be understanding your request completely. My initial concern would be leaking of unused verification keys and potential abuse vectors.

Can you provide an example of the API call you would need to enable your scenario?

[2020-07-15 18:37] mikehelmick commented on #95
@ibeckermayer  - I'll have a PR shortly that will add a second API key type - so that's part way there.

[2020-07-15 18:40] ibeckermayer commented on #95
Ok good to know. I was working on that but it’s slow going, being new to Go and the codebase generally. I’ll wait for your PR before going any further, thank you for keeping me in the loop.

[2020-07-15 19:10] mikehelmick commented on #95
SG. if you want me to finish this, I can probably have it done today.

First PR is out for review. #112

[2020-07-15 19:30] ibeckermayer commented on #95
If you can tackle it that would be amazing. I was taking it on because Covid Watch is coming up on a hard deadline and wasn't sure how long your top priority might take. Based on your PR I was on the right track, but painfully slow going.

[2020-07-15 20:16] mikehelmick commented on #95
k. working on it now.

[2020-07-15 23:12] mikehelmick commented on #95
fyi - I have this working, want to add some more tests / clean things up a bit before I Send the PR

[2020-07-16 01:42] mikehelmick commented on #95
PR is out to create the new server.

Still TODO

- [ ] add terraform config
- [ ] update build/deploy/promote scripts for new service

[2020-07-16 17:59] mikehelmick commented on #109
Can you share more about the workflows you wish to enable?

We do plan to give access to statistical data related to code use.

[2020-07-16 19:28] #95 closed

[2020-07-17 16:22] mikehelmick opened #117 "SMS sending of verification codes"
### TL;DR

Add the ability to send verification codes over SMS

https://www.twilio.com/messaging as likely baked in provider. Must be configurable so operator can bring their own credentials.

/kind enhancement
/priority important-soon

[2020-07-17 16:37] mikehelmick commented on #117
One other note - best if the phone numbers don't get stored in the database.

[2020-07-17 16:38] sethvargo commented on #117
I have some experience with the Twilio API, so I can take this

[2020-07-17 16:38] sethvargo commented on #117
/assign

[2020-07-18 00:00] sherifkozman commented on #117
Twilio has a some considerations to be noted if it is used for an impelemntation that is not in the US.
i.e : Creating a Numeric or Alpha Numeric Sender ID would be a requirement in some destinations and verifying that the server would use those values when posting a payload.
https://support.twilio.com/hc/en-us/articles/223133767-International-support-for-Alphanumeric-Sender-ID

[2020-07-18 12:54] sethvargo commented on #117
I think that's fine. The server operator would need to take those steps, but I don't think it would affect our code. Can you share more about your concerns?

[2020-07-18 17:32] sherifkozman commented on #117
I am only noting that the Sender ID (i.e numeric or alpha numeric) is a value that should be factored in when integrating with twilio to ensure portability of the service outside of the US. So it would be set as an ENV variable for example the same way you add Twilio API Key and the application SID. Twilio mostly doesnt handle overriding that value on behalf of the sender.

[2020-07-18 18:39] mikehelmick commented on #117
The SMS config will need to be in the database and configured on a per-local basis. See #104

[2020-07-19 08:07] marekaf opened #122 "google_kms_key_ring should use location = var.kms_location, not var.region"
### TL;DR
google_kms_key_ring is using `location = var.region`
but it would be much better to be able to specify its own region/location [same as notification_server does](https://github.com/google/exposure-notifications-server/blob/main/terraform/key_management.tf#L18)
 not var.region

I'm more than happy to implement it:)

[2020-07-19 08:59] marekaf opened #123 "google_redis_instance has hardcoded zones '-a' & '-c'"
### TL;DR
resource "google_redis_instance" "cache" {
  ...
  location_id             = "${var.region}-a"
  alternative_location_id = "${var.region}-c"
  ...
}

I'm running the infra in europe-west1 which doesn't have `europe-west1-a`

**Expected behavior**
I'd like to be able to either override the redis location and alternative location or use `any`

Alternative solution might be to query Compute

[2020-07-20 16:56] #122 closed

[2020-07-20 17:11] mikehelmick commented on #117
Follow up from previous comment

SMS provider and use should be database driven.
If there is no provider configured, then the dialog shouldn't be shown.

As we go multi-tenant, this is important since it is possible that different "realms" will use different SMS config and some might not use SMS at all.

[2020-07-21 00:33] sethvargo commented on #117
No no, bad GitHub. That was only part 1 of 1000.

[2020-07-21 13:19] sethvargo commented on #123
Should have been auto-closed with GH-124.

[2020-07-21 13:19] #123 closed

[2020-07-22 13:51] sherifkozman commented on #109
@mikehelmick along with the Admin API calls available , would it be possible for an a call to be implemented to check if an issued verification code was used or not.
The Data already exisits in the database about the status of the issues code , can that be availed so a third party integration would be able to get a status of an issued code?

[2020-07-22 15:20] mikehelmick commented on #109
It would still be good for us to understand the use cases and determine how much of that should be built directly into this server versus enabled through APIs.

[2020-07-23 05:01] sherifkozman commented on #109
The current use case and request would give contact tracers the ability to keep track of issues verification codes, if they were used or not and when were they used. This gives more context to CTs to keep track of the codes they issues for postive tested cases.
Exposing it through an API enables integrating this with exisitng systems within the HAs

[2020-07-23 15:10] mikehelmick commented on #109
We probably need to assign a tracking GUID for this purpose since codes can be recycled.

[2020-07-23 15:10] mikehelmick commented on #109
/kind enhancement

[2020-07-23 16:46] sherifkozman commented on #109
Thanks @mikehelmick

[2020-07-24 02:28] mikehelmick commented on #63
/kind enhancement

[2020-07-24 14:41] ricardobessa1 opened #133 "Use key management from exposure-notifications-server"
### TL;DR
Since key management package of project  **google/exposure-notifications-server** was moved from **internal** to **pkg/keys**, should be useful use this package that have more options instead of **gcpkms** in this project.

I have this change done in a local repo, I can create a pull request with changes if wanted.

### Design

**Proposal**

- Add _KeyManager keys.Config_ on _APIServerCo

[2020-07-24 14:52] sethvargo commented on #133
I did this as part of https://github.com/google/exposure-notifications-verification-server/pull/121, but we decided to hold off for now as this system architecture is rapidly evolving.

[2020-07-24 15:05] ricardobessa1 commented on #133
Ok, I understand. But it would be great if we can at least implement other managements like AWS KMS using the KeyManager interface available on **pkg/signer** in this project.

[2020-07-24 15:06] sethvargo commented on #133
Hi @ricardobessa1 right now we're focused on GCP for this server.

[2020-07-24 15:15] sherifkozman commented on #133
@sethvargo to be clear from a roadmap prespective this means that the env values for AWS KMS at this point are of no use, correct ?

[2020-07-24 15:16] sethvargo commented on #133
@sherifkozman I'm not sure what you mean?

[2020-07-24 15:18] sherifkozman commented on #133
Docs [here](https://github.com/google/exposure-notifications-server/blob/main/docs/getting-started/deploying.md) mention AWS KMS as a signer option. can this be used as of now or its not implemented as per the discussion above?

[2020-07-24 15:22] mikehelmick commented on #133
Hello -

If the health authority that you are representing needs to run this server on AWS, please reach out directly to Google through your developer relations contact. That is a signal we can use to prioritize work.

Right now, this space is rapidly evolving and we're focusing on remaining functionality before making this operate across clouds.

Because of the architecture of this application, t

[2020-07-24 15:27] sherifkozman commented on #133
@mikehelmick my bad as they got mixed up, sorry for that

[2020-07-24 15:28] mikehelmick commented on #133
No worries. Please let us know if this is a blocker for a specific health authority - that's something we need to know.

[2020-07-24 18:08] mikehelmick opened #134 "Custom pin failure errors"
### TL;DR

Allow PHAs to customizer pin validation failure messages.
Will allow for providing instructions on how to obtain a new pin.

/kind enhancement

[2020-07-27 13:14] ricardobessa1 commented on #133
@mikehelmick,  thank you for explanation about the roadmap.
Actually we are only using  _cmd/apiserver_ to handle the mobile reqs and _cmd/adminapi_ as a internal endpoint used by our own frontend. In this scenario we are not using firebase auth implemented on _cmd/server_ and the server is running on AWS with the changes described on this issue to use KMS.

Anyway, I'll close this issue and keep

[2020-07-27 15:29] mikehelmick commented on #133
@sherifkozman @ricardobessa1  - can you email us
address listed here -> https://github.com/google/exposure-notifications-server#issues-and-questions

I would like to know which health authorities you're working with and what your proposed trial / launch date(s) are. That can inform priorities for us.

Re KMS in particular, and the roadmap. As it relates to multi-tenancy, this server may need to pr

[2020-07-27 16:08] mikehelmick commented on #108
Also - we should remove the /api/cover path and have this handled by the main API calls.

[2020-07-27 18:37] mikehelmick opened #137 "Design & implement future key upload"
On initial report 2 tokens should be sent back

1) the existing verification token
2) a future key upload token that encodes the time period for which future keys may be uploaded

This can be used as the long term token to re-certify and "burn down" the time period for future keys.

This is steps 10-13 of this flow:
https://developers.google.com/android/exposure-notifications/verification-system#f

[2020-07-27 20:05] #108 closed

[2020-07-27 22:26] sherifkozman opened #138 "Is the length of the verification code configurable or hardcoded ?"
Is the length of the verification code configurable or hardcoded ? i.e through an env variable

[2020-07-27 22:51] lmartensson commented on #138
I just found the answer to this. I see it's configurable by an env variable.

https://github.com/google/exposure-notifications-verification-server/blob/40212b648d729349a76dd2f5aaae70c31df86d10/pkg/config/admin_server_config.go#L25

Would it be possible to do this through the request though? I'm thinking that if we could configure # digits and duration time through an API request, that will be help

[2020-07-27 23:02] mikehelmick commented on #138
@lmartensson is correct, this is configurable through environment variable.

I'm in process of moving this into the database rather than have it be environment variable config.

2 questions, re uses cases:

1) What's the use case for code being dynamic length at runtime?
2) What's the use case for dynamic duration time?

Along what criteria would you decide to change this?

[2020-07-27 23:22] lmartensson commented on #138
We're discussing options with HAs for delivering verification codes to users, and if a code is not delivered synchronously over the phone we may need it to be valid for longer than 1 hour. If it's valid for a longer period of time, say, 24h, we'd also like to increase the number of digits to compensate.

[2020-07-28 00:54] mikehelmick commented on #138
Thanks - we're currently evaluating multiple code generation functions (i.e. alpha-numeric, greater length).

Going from 1 to 24 hours does require a significantly larger keyspace than the default.

[2020-07-28 02:51] sherifkozman commented on #133
@mikehelmick i believe we are already on email loops about the HAs we are working with through PathCheck Foundation, i will make sure you are tagged if you are not there.

[2020-07-28 15:45] chaodaiG opened #139 "Integration test: revision scenario"
### TL;DR

Add integration test covering the scenario of where the state transitioning from one state to another, as:

1. PHA issued a token says positive/negative
1. Later on, some other test results came back, and PHA issued a token with a different state

Currently, the only supported scenario is:
[code]

[2020-07-28 15:51] chaodaiG commented on #139
There's some good stuff in the [publish_test.go](https://github.com/google/exposure-notifications-server/blob/main/internal/publish/publish_test.go) unit test for generating certs etc

[2020-07-28 18:57] zssz commented on #138
@mikehelmick I'm confirming that I've been hearing the same issue raised from the PHAs we're talking to. Going from 1 hour to 24 hour, using just digits, how long should a Verification Code length be, to be safe? 10, 11, 12?

[2020-07-28 19:10] mikehelmick commented on #138
I've reached out to some folks inside Google to run those numbers

We're going to build in some additional flexibility around the verification codes to support this use case.

[2020-07-28 19:12] lmartensson commented on #138
Thanks Mike!

On Tue, Jul 28, 2020 at 12:10 PM Mike Helmick <notifications@github.com>
wrote:

[2020-07-28 20:14] mikehelmick opened #141 "Enable 2FA on firebase auth"
https://cloud.google.com/identity-platform/docs/web/mfa#enrolling_a_second_factor

/kind enhancement

[2020-07-29 15:03] mikehelmick opened #143 "Realm admin / config"
- Implement UI for creating / updating realms
- Implement realm specific settings UI

Necessary for customization - and settings for the realm.
Needed for #138 #117 #134

/assign

[2020-07-29 18:28] mikehelmick commented on #53
this is now being used - we use it to load the effective realm w/ the new multi-tenancy feature.

[2020-07-29 18:28] #53 closed

[2020-07-29 23:01] mikehelmick opened #149 "MT: Per realm signing keys"
### TL;DR

The token singing key can be shared by the whole server, as it is for internal consumption.

The certificate signing key should be set up on a per-realm basis.

Ideally we would just create this when the realm is created -added into tooling.
The "server" microservice needs to have signing key creation capabilities

/kind enhancement

[2020-07-29 23:20] mikehelmick commented on #134
Also - for pin error codes, this will be put in place

A pin we don't know about at all is "inavlid"
A pin that was valid, but used is "invalid" (hasn't reached expiry time yet)
A pin that is known and expired is "expired"

[2020-07-29 23:25] sethvargo commented on #149
Heh - I was just looking at stuff and thinking "why is this in-band of the request" 😄

[2020-07-30 00:36] mikehelmick commented on #149
related to #93

[2020-07-30 18:09] mikehelmick opened #153 "Remove disabled user on ceate"
No reason to create a user in a disabled state.

[2020-07-30 18:09] mikehelmick commented on #153
Already removed from HTML template, needs to be removed from controller

[2020-07-30 18:22] odeke-em commented on #30
I see per https://github.com/google/exposure-notifications-verification-server/blob/5f60f06db86ccabcc5e7ca71e12288060f93fdd7/README.md#L48 we already use Redis as the rate limiter. That makes it the clear choice then for this task too.

[2020-07-30 18:23] mikehelmick commented on #30
Yeah, we already have a Redis instance in the mix, so that is a safe choice.

I think it's fine to move forward with that and have the caching disabled by default (dev instance)

[2020-07-30 18:34] sethvargo commented on #30
Yea, generic read-through cache. The reason I haven't been tackling this is because all the redis libraries for Go have various tradeoffs and I haven't had time to weigh them.

[2020-07-30 18:34] sethvargo commented on #153
/assign

[2020-07-30 18:39] odeke-em commented on #30
Not a problem, I've got y'all :) I examined a bunch of the libraries and I have used redigo by Gary Burd, and even rolled out an instrumented version of it https://godoc.org/github.com/opencensus-integrations/redigo/redis. I'll send a PR for it.

SGTM, turned off by default works.

[2020-07-30 18:52] mikehelmick commented on #138
/assign

[2020-07-30 18:53] mikehelmick commented on #134
/assign

[2020-07-30 18:53] mikehelmick commented on #117
/assign

[2020-07-30 19:41] mikehelmick commented on #141
/kind good-first-issue

[2020-07-30 19:42] mikehelmick commented on #109
/kind good-first-issue

[2020-07-30 19:42] mikehelmick commented on #63
/kind good-first-issue

[2020-07-31 00:18] mikehelmick opened #157 "Make issue UI responsive / scaled for mobile phone"
/kind enhancement

[2020-07-31 12:51] sethvargo commented on #157
/assign

[2020-07-31 17:52] mikehelmick commented on #138
Followup here -

We're going to make a couple of changes around pins

* short term pins will be hardened to 8 digits and be valid for a short period of time. These codes are meant to be read over the phone and human entered
* an additional short term pin of 16 digits will be issued that is valid for 24 hours. This code will only be sent over SMS with the intent of it being deep-linkable into an ap

[2020-07-31 17:53] mikehelmick commented on #138
Also - we want to store the last 2 digits of the phone number for the history page. (history page still TODO)

[2020-07-31 17:54] mikehelmick commented on #143
The test types to report should be configurable.

With a default of confirmed results only.

[2020-07-31 19:41] zssz commented on #138
@mikehelmick, yes, that sounds good!

On a related note, I'm proposing to shorten the copy of the SMS template to fit into one segment. Currently, it is two. Something similar to:

"Your Exposure Notifications Verification Code is: enapp://3734423687222130"

This message should be able to be configured at the realm-level.

[2020-07-31 19:47] mikehelmick commented on #138
Yes - SMS will be configurable at a realm level with some Google provided default.

We'll make sure the default is within one segment, that's a good call out.

[2020-07-31 19:52] sherifkozman commented on #138
@mikehelmick one more issue about SMS and length, it would be important to ensure that the message body is always kept as ISO 8859 Latin 1 which is the default for GSM alphabet, any use of unicode or other characters would result to automatically change the max length of an SMS from 160 (english characters) to 70 (unicode) and thus affecting the segment length and cost of message will be doubled.

[2020-08-01 00:07] sherifkozman opened #160 "upon upgrade server run services fails due to missing COOKIE_KEYS variable"
The latest update requires an env COOKIE_KEYS to run the server service but its not created through terraform
Please advice @sethvargo

[2020-08-01 00:10] mikehelmick commented on #160
/assign @sethvargo

[2020-08-01 00:29] sherifkozman opened #161 "upon upgrade database migrations fails"
upon upgrading the codebase and running migrations.

Migrations failed with the following :

[2020-07-31 17:26:25]  pq: duplicate key value violates unique constraint "users_pkey"; pq: current transaction is aborted, commands ignored until end of transaction block

[2020-08-01 01:02] mikehelmick commented on #161
Do you have the line before that?
Indicating which migration it is

[2020-08-01 01:10] sherifkozman commented on #161
@mikehelmick
/exposure-notifications-verification-server/pkg/database/migrations.go:267)
[2020-07-31 17:26:25]  pq: duplicate key value violates unique constraint "users_pkey"; pq: current transaction is aborted, commands ignored until end of transaction block

[2020-08-01 01:16] mikehelmick commented on #161
Any other log lines you can share?

It shouldn’t be adding any new users, just upgrade existing ones to the default realm.

You can redact user info or email me privately

[2020-08-01 01:23] sherifkozman commented on #161
Here you go :

`{"severity":"info","ts":1596241572.75421,"logger":"default","caller":"database/migrations.go:351","message":"database migrations started"}
{"severity":"info","ts":1596241573.8919392,"logger":"default","caller":"database/migrations.go:183","message":"db migrations: upgrading authorized_apps table."}
{"severity":"info","ts":1596241575.667299,"logger":"default","caller":"database/migr

[2020-08-01 01:34] mikehelmick commented on #161
Thank you - will try and replicate

[2020-08-01 02:29] mikehelmick commented on #160
/assign

[2020-08-01 02:29] mikehelmick commented on #161
fix is out for review: https://github.com/google/exposure-notifications-verification-server/pull/162

[2020-08-01 03:28] mikehelmick commented on #160
fix is in #163

The workaround you can do now, is to use the gen-secret tool in the repo. Run that tool twice to generate 2 secrets

[code]

and then on the 'server' service, set the `COOKIE_KEYS` env var to

[code]

Replacing PROJECT_NUMBER w/ your project number.

[2020-08-01 03:29] mikehelmick opened #164 "Make terraform work for upgrades"
initial deploy should use :latest instead of :initial

 allow CR services to redeploy - it's OK to require the ./scripts/build to be run, to update latest

DB migration is the tricky bit

/kind enhancement

[2020-08-01 16:15] #161 closed

[2020-08-01 16:18] sethvargo commented on #164
I don't think we want to do this, similar to how we don't do this for the main server. Terraform barfs on Cloud Run revision numbers because the state's won't match. You have to _delete_ the resource to get it to re-deploy correctly with the right environment.

[2020-08-01 16:20] sethvargo opened #165 "Switch to KMS for SMS configs"
Have a main KMS key configured for the server for ALE, use AAD with per-record information.

[2020-08-01 16:20] sethvargo commented on #165
/assign

[2020-08-01 16:26] sethvargo opened #166 "Allow configuring custom domain mapping via Terraform"
https://www.terraform.io/docs/providers/google/r/cloud_run_domain_mapping.html

/assign

[2020-08-01 16:59] #160 closed

[2020-08-03 15:45] mikehelmick commented on #134
Also - add in a set of universal error codes so that things can be localized on the client

[code]

[2020-08-03 16:29] #164 closed

[2020-08-03 16:38] mikehelmick commented on #134
Here are the proposed `ErrorCode` strings

- Pin we don't know about would be `"ErrorCode": "code_invalid"`
- Pin that was valid but used would be `"ErrorCode": "code_invalid"`
- Pin that is known and expired would be `"ErrorCode": "code_expired"`

Similar treatment will need to be given to verification token validation.

[2020-08-03 17:11] sethvargo commented on #134
I'd recommend keys of `"code"` and `"message"`, but otherwise lgtm

[2020-08-03 17:21] #166 closed

[2020-08-05 01:08] #153 closed

[2020-08-05 15:32] mikehelmick opened #176 "Change verification code rate limit to per-realm"
### TL;DR

Currently rate limiting is per API key, it should be per-realm

/kind enhancement

[2020-08-05 15:38] sethvargo commented on #176
/assign

[2020-08-05 18:20] #157 closed

[2020-08-05 19:54] icco opened #180 "Add Metrics and Tracing"
### TL;DR

We want end to end tracing and metric support to match what's in https://github.com/google/exposure-notifications-server

[2020-08-05 20:10] sethvargo commented on #180
Can we try to do this with middleware as much as possible? There will be exceptions, but I'm not a huge fan of how much non-core logic is in our handlers for the main server.

[2020-08-05 20:22] icco commented on #180
yeah, definitely. Anything generic (ie not business specific metrics) will be in middleware.

[2020-08-05 22:26] mikehelmick opened #185 "Add version negotiation API"
In the apiserver, add a version negotiation API.

This can be hardcoded to only return "v1" for now.

Will be reserved for future expansion if there's ever additional information that MUST be captured between the code and token exchanges.

/kind enhancement

[2020-08-06 00:10] mikehelmick opened #186 "internal error issuing certifictes"
[code]

Needs to be merged into point release for v0.2

/kind bug
/priority important-soon
/assign
/milesone v0.3

[2020-08-06 00:15] #186 closed

[2020-08-06 01:47] sethvargo commented on #117
/assign

[2020-08-06 01:47] sethvargo commented on #143
Realm-specific settings UI is complete

[2020-08-06 08:59] marekaf opened #194 "cloudsql shouldn't have US backup location hardcoded"
### TL;DR
https://github.com/google/exposure-notifications-verification-server/blob/main/terraform/database.tf#L45
[code]

location should be configurable

thanks!

[2020-08-06 09:00] marekaf commented on #194
I guess this should be feature request and not a bug, I don't seem to be allowed to change it.

[2020-08-06 16:33] #194 closed

[2020-08-06 17:28] #117 closed

[2020-08-06 17:28] #165 closed

[2020-08-06 23:14] #104 closed

[2020-08-06 23:15] mikehelmick commented on #109
/assign @whaught

[2020-08-07 00:04] sethvargo opened #198 "Stop storing API keys in plaintext"
### TL;DR
API Keys are plaintext in the database

**Expected behavior**
Not

**Observed behavior**
Are

[2020-08-07 00:04] sethvargo commented on #198
/assign

[2020-08-07 15:35] crwilcox commented on #76
Work to surface usage stats is done. Rate limiting of how quickly codes can be created is also implemented.

Potential work remains in adding daily/weekly quotas for users/api keys.

[2020-08-07 15:49] crwilcox opened #199 "Refactor codeblock gathering usage counts ot share code between apikey, user"
Raised as part of PR: https://github.com/google/exposure-notifications-verification-server/pull/152

We have two blocks that are very similar,
- https://github.com/google/exposure-notifications-verification-server/blob/main/pkg/controller/user/index.go#L39
- https://github.com/google/exposure-notifications-verification-server/blob/main/pkg/controller/apikey/index.go#L42

There is also an opporutni

[2020-08-07 15:52] crwilcox opened #200 "Consider moving stats collection to use Count instead of row returns"
Raised in PR: https://github.com/google/exposure-notifications-verification-server/pull/152/files/91bd8f41c6a0c664a835dd4536655ed3c12a46cb#diff-c72a84bc2625363d546b05336b35a643R144

It may be better to leverage `count` for some of these queries, as opposed to gathering rows and doing it server-side. Originally this was done for concerns of table lock for count operations, but we have since reduced

[2020-08-07 15:53] crwilcox commented on #176
Are user rate limits should likely have a look as well?

[2020-08-07 19:33] sethvargo commented on #176
Hey @crwilcox - in which server are you thinking?

[2020-08-07 20:43] mikehelmick opened #201 "Different rate limiting buckets"
Verification code checking should be done rate limited by API key, but token-> certificate can drop back to IP since we have the token as the authenticator

[2020-08-07 20:43] mikehelmick commented on #201
/kind enhancement

[2020-08-07 21:28] #176 closed

[2020-08-07 21:28] #198 closed

[2020-08-07 22:41] icco commented on #180
https://github.com/google/exposure-notifications-server/pull/846 also adds some stuff

[2020-08-09 17:05] sharonstout1981 opened #208 "Corona bug"
Something ought to be able to help curb this pandemic a bit better

[2020-08-09 17:30] mikehelmick commented on #208
/close

[2020-08-09 17:30] #208 closed

[2020-08-09 17:54] mikehelmick opened #209 "Rate limiting needs more visibiilty"
### TL;DR

Observed the main UX server rate limiting all requests on the landing page (no login)

Because of the middleware interceptor, there was no visibility into why.

Ultimately unblocked this by restarting the server.

/assign @sethvargo

[2020-08-09 18:20] sethvargo commented on #209
The response should include 4 headers:

- `X-RateLimit-Limit` - the total configured limit
- `X-RateLimit-Remaining` - the number of remaining requests available in the current interval (0 == the next request will be rate limited)
- `X-RateLimit-Reset - the server time at which the rate limit resets
- `Retry-After` (will be the same as X-RateLimit-Reset, but is canonical)

The most plausible cours

[2020-08-09 19:30] gurayAlsac commented on #209
Could there be a mode where rate-limiting is advisory only (doesn't actually block), or at least in (presumably rare) case db connectivity is lost, it fails open?

[2020-08-09 19:50] sethvargo commented on #209
I’m hesitant to make it this advisory only, since it seems like clients already aren’t honoring the response headers.

[2020-08-09 19:52] sethvargo commented on #209
We can make it fail open, but it opens us up to a class of attack; if someone can DoS Redis, they could effectively bypass ratelimiting, which feels undesireable.

[2020-08-09 19:54] gurayAlsac commented on #209
These would be configurations for testing server only.

On Sun, Aug 9, 2020, 12:52 PM Seth Vargo <notifications@github.com> wrote:

[2020-08-09 20:01] sethvargo commented on #209
Yes, but if we failed open, this issue would have happened silently in the background, and we never would have uncovered that clients weren't parsing and obeying the rate limiting headers.

[2020-08-10 02:52] sherifkozman opened #213 "error in database migration after latest update"
Updating from pre-Realm setup the database migration failed :

[code]

@mikehelmick

[2020-08-10 12:57] sethvargo commented on #213
Hi @sherifkozman - is that failing on step 11? Can you set `DB_DEBUG=1` and re-run the migrations to share the output? It will include the raw SQL which will help diagnose this.

When we migration pre-realm -> realm, we move everything to a "default" realm. I believe that error is happening because you already have a "default" realm in the table somehow.

[2020-08-10 23:36] mikehelmick commented on #134
/assign

[2020-08-11 02:48] whaught commented on #109
Note switched to UUIDs: https://github.com/google/exposure-notifications-verification-server/pull/217

[2020-08-11 23:10] sethvargo opened #220 "Test and upgrade to Go 1.15"
### TL;DR
Upgrade to Go 1.15: https://golang.org/doc/go1.15

[2020-08-12 01:39] whaught commented on #109
@Ferrumofomega can you add some detail about the scenario users are looking for here? Are we expecting to check on the status of a single code or many?

[2020-08-12 02:49] Ferrumofomega commented on #109
Happily. Our user (a US state) would like a way (updated as of late, this
was going to be manual) to programmatically check the status of a single
code.

Samuel Zimmerman
calendly.com/zimmerman-samuel
814-279-7110

On Tue, Aug 11, 2020 at 9:39 PM Weston Haught <notifications@github.com>
wrote:

[2020-08-12 20:15] mikehelmick opened #223 "Allow a realm to only report positive test report types"
### TL;DR
 By setting - disable likely and negtaive

/kind enhancement

[2020-08-12 20:16] mikehelmick opened #224 "Clarify language around symptom date and test date"
### TL;DR

In the UI, symptom date should indicate to the user that they should enter the test date if they don’t know the symptom onset date.

/kind enhancement

[2020-08-12 20:33] sethvargo commented on #224
/assign

[2020-08-12 20:34] sethvargo commented on #223
This would be another realm setting, yea?

[2020-08-12 20:43] mikehelmick commented on #223
Correct

On Wed, Aug 12, 2020 at 1:34 PM Seth Vargo <notifications@github.com> wrote:

--
Mike Helmick | Software Engineer | helmick@google.com | 206 451-7422

[2020-08-12 21:20] whaught commented on #63
/assign

[2020-08-12 21:21] whaught commented on #200
/assign

[2020-08-12 21:33] whaught commented on #200
/unassign looks like there are some locking issues to consider

[2020-08-12 22:07] mikehelmick commented on #224
Another design option

Change the UI and API to accept both symptom date and test date and then when minting the verification token select the right one

1) symptom onset if exists
2) test date if provided and #1 doesn’t exist
3) leave blank if neither

I think this would reduce cognative load on case workers insteading of having to interprate a multi-use date field.

[2020-08-12 23:06] sethvargo commented on #224
We could also default test date to today's date. Thoughts?

[2020-08-12 23:07] sethvargo commented on #223
/assign

[2020-08-12 23:11] mikehelmick commented on #224
we’d need to run that by the medical team. I think the directive was to leave it blank if neither was known

[2020-08-13 13:35] stati0n commented on #133
/kind test

[2020-08-13 13:36] stati0n commented on #133
/kind enhancement

[2020-08-13 20:08] icco commented on #180
/kind enhancement

[2020-08-13 20:51] sherifkozman opened #228 "Terraform fails on fresh install for missing Keys and Container Image"
Installing a fresh deployment fails for missing env variable and container with tag :initial

Error: Error running command './../scripts/migrate': exit status 1. Output: ✋ Missing DB_APIKEY_DATABASE_KEY (e.g. secret://projects/my-project/secrets/my-secret/versions/1)!

Error: Error waiting to create Service: resource is in failed state "Ready:False", message: Image 'gcr.io/gaen-verification-prod/g

[2020-08-13 22:26] sherifkozman opened #229 "First User isnt created in the database upon fresh deployment"
After Running a fresh installation , first user to the default Realm gets created in firebase but doesnt get added into the database and doesnt get added or assigned to any realm

![Screen Shot 2020-08-13 at 3 25 02 PM](https://user-images.githubusercontent.com/666788/90193213-5b412a00-dd79-11ea-94e0-532c82703d8b.png)

[2020-08-13 22:35] sethvargo commented on #229
Hi @sherifkozman - this is working as expected. You'll need to create the initial user using the `add-user` utility. Firebase doesn't "create" users - the default setting is to allow all (you can configure this in the firebase console), but then you have to create that user (by email) in the database using the add-user tool in this repo. Let me know if that helps.

[2020-08-13 22:38] sethvargo commented on #228
/assign

[2020-08-13 22:51] #228 closed

[2020-08-13 22:53] sherifkozman opened #231 "Is it possible to set a different JWT claim per Realm ?"
JWT Claim information were previously a set of ENV values across the entire service, is it possible to set a different claim per each REALM ?
@sethvargo

[2020-08-13 23:00] sherifkozman commented on #229
Yes we did add users and Realms through the cmd tools and got it going from there.
Please check #231 when you can

[2020-08-13 23:00] #229 closed

[2020-08-13 23:26] mikehelmick commented on #231
This is a duplicate of #149

/close

[2020-08-13 23:26] #231 closed

[2020-08-14 01:12] whaught opened #232 "Show history of issued codes with status"
### TL;DR

Create a page where a user or realm admin can see a list of recently issued codes.

### Design

**Proposal**

- Create a List API for codes.
    - Users get the codes they've issued themselves
    - Realm Admins see all codes
    - Consider pagination and limits

- The original mock calls for showing the
    - test result
    - code
    - expiry
    - anonymized phone (***) ***-**31

[2020-08-14 01:12] whaught commented on #232
/assign

[2020-08-14 15:28] sherifkozman opened #234 "Testing /api/checkcodestatus results in unknown field UUID"
As we are testing the /api/checkcodestatus through the adminapi service URL and providing a JSON as per /pkg/clients/apis.go we get an error of :
Error 400 : {"error":"unknown field \"UUID\"","error_code":""}

[2020-08-14 15:34] mikehelmick commented on #234
/assign @whaught

[2020-08-14 16:08] whaught commented on #234
What's the request/url we're trying here?

This should be to `"/api/checkcodestatus"` with a body like:
`{ "uuid": ""}`

I've got a known issue where error response strings aren't shown properly: https://github.com/google/exposure-notifications-verification-server/pull/235

[2020-08-14 17:06] sherifkozman commented on #234
@whaught this is exactly what we are trying and the result is :
error 400 : {"error":"unknown field \"uuid\"","error_code":""}

URL is https://admin_api_host/api/checkcodestatus

[2020-08-14 18:00] sethvargo commented on #209
Observability work by @icco going on at GH-226

[2020-08-14 18:49] mikehelmick commented on #185
Related to #223

Clients may want to have specific client side UX based on the available test types on a realm.

Proposed implementation

in `VerifyCodeRequest` add a field for the client to specify accepted report types. For example, if a client only knows how to handle confirmed tests, they would pass.

[code]

There should be a 'hierarchy' here to prevent sniffing for the diagnosis type of a co

[2020-08-14 19:19] sethvargo commented on #213
Ping

[2020-08-14 19:47] #224 closed

[2020-08-14 21:38] sherifkozman commented on #213
Sorry it totally slipped in the notifications avalanche :)

(/workspace/pkg/database/migrations.go:239)
[2020-08-14 21:36:35]  pq: duplicate key value violates unique constraint "uix_realms_name"
{"severity":"ERROR","timestamp":"2020-08-14T21:36:35.213977364Z","caller":"database/migrations.go:578","message":"database migrations failed: pq: duplicate key value violates unique constraint \"uix_realm

[2020-08-14 21:45] sethvargo commented on #213
@sherifkozman do you happen to have a realm already named "default" or "Default"? Are you able to inspect the "realms" table?

[2020-08-14 21:46] sherifkozman commented on #213
We do have a realm value "Default" that was set this way before Multi realms were intoduced

[2020-08-14 22:29] #223 closed

[2020-08-15 00:04] #234 closed

[2020-08-15 13:41] sethvargo commented on #213
Yea, so that's why you're getting a migration issue. There's a uniqueness constraint on realm name. Can you rename your existing default to "default1" or something to remove conflicts? Alternatively, you can edit the migration step to lookup your realm and use it instead of creating a new one.

[2020-08-15 14:16] sethvargo commented on #213
Actually, I found a way to make the migrations work for you.

[2020-08-15 14:25] sethvargo commented on #220
Looks like there's some build issues on Catalina, blocked by https://github.com/Homebrew/homebrew-core/pull/59486

[2020-08-15 14:27] sethvargo commented on #5
This is obsolete.

[2020-08-15 14:27] #5 closed

[2020-08-15 14:49] #39 closed

[2020-08-15 20:08] sherifkozman commented on #213
i tried running migrations once more, then i tried renaming realm and in both cases migrations failed with error "validation failed"

![Screen Shot 2020-08-15 at 1 07 39 PM](https://user-images.githubusercontent.com/666788/90320711-67072a80-def8-11ea-924d-69a61a2bfebf.png)
@sethvargo

[2020-08-15 21:01] mikehelmick commented on #213
I'll be sending out a PR shortly that will fix the validation issue.

/assign

[2020-08-15 22:59] mikehelmick commented on #141
looks like we need to upgrade from firebase auth to cloud identity platform

[2020-08-15 23:05] sherifkozman commented on #141
Wouldn't cloud identity requires a GSuite domain attached to it ?

[2020-08-16 00:32] mikehelmick commented on #141
I don’t believe so

[2020-08-16 01:00] sherifkozman commented on #213
Thanks @mikehelmick

[2020-08-16 01:23] sherifkozman commented on #141
https://support.google.com/cloudidentity/answer/7319251?hl=en

[2020-08-16 02:28] mikehelmick commented on #141
haven't completed testing, but I successfully enabled identity platform on a non gsuite account.

[2020-08-16 22:14] sherifkozman commented on #213
@mikehelmick ping 👍

[2020-08-16 22:25] mikehelmick commented on #213
the fix is in #247

[2020-08-17 14:21] #209 closed

[2020-08-17 14:26] #138 closed

[2020-08-17 14:26] #143 closed

[2020-08-17 14:26] #213 closed

[2020-08-17 14:29] sherifkozman commented on #213
Users were being added to the default realm as part of the latest fix however migration still fails verification as per the attached screenshot.

![Screen Shot 2020-08-17 at 7 28 44 AM](https://user-images.githubusercontent.com/666788/90407491-72269b80-e05b-11ea-9dcb-19a670012947.png)

[2020-08-17 14:35] sethvargo commented on #213
Hi @sherifkozman are you sure you're on the latest code? Line 277 of migrations.go is an ending curly brace...

[2020-08-17 14:46] sherifkozman commented on #213
@sethvargo you were right, there seems to be have been 2 commits 5 min appart.
However after pulling the latest commit to main the following verification error is still in place.
![Screen Shot 2020-08-17 at 7 45 04 AM](https://user-images.githubusercontent.com/666788/90409232-c03c9e80-e05d-11ea-997d-9f2279ec4de1.png)

[2020-08-17 15:30] mikehelmick commented on #185
/assign

working on this now

[2020-08-17 16:04] sethvargo commented on #213
That error is saying that validation failed for the authorized app. The only two validations are:

- name cannot be blank
- type must be one of "device" (0) or "admin" (1)

[2020-08-17 16:17] sherifkozman commented on #213
There was an app with blank name that was accidently created over the earlier code and there was no way to delete it.
We removed it from the database and ran migrations again resulting the following error with uix_users_email

![Screen Shot 2020-08-17 at 9 16 16 AM](https://user-images.githubusercontent.com/666788/90418787-760dea00-e06a-11ea-9d17-b0e5688926c6.png)

[2020-08-17 17:31] sethvargo commented on #213
That means you already have a violation on the index. The latest migrations make the index case-_in_sensitive. You most likely have users with the same email address and different capitalizations.

Previously this was valid:

- ID: 1, email: foo@bar.com
- ID: 2, email: FOO@BAR.COM

These are now treated as the same user and the index enforce case-insensitive uniqueness.

[2020-08-17 19:19] #185 closed

[2020-08-17 20:29] whaught commented on #141
/assign

[2020-08-18 02:56] sherifkozman opened #260 "Adding a new realm fails with verification failed error"
Adding a new realm through command line tool results error :

(/verification-server/pkg/database/realm.go:308)
[2020-08-17 19:54:09]  validation failed
{"severity":"EMERGENCY","timestamp":"2020-08-17T19:54:09.466307-07:00","caller":"add-realm/main.go:50","message":"failed to create realm: validation failed","stacktrace":"main.main\n\t//verification-server/cmd/add-realm/main.go:50\nruntime.main\n\t

[2020-08-18 02:59] mikehelmick commented on #260
yeah - it's a one line fix. Sorry I missed that in my last change.

/assign

[2020-08-18 03:01] sherifkozman commented on #260
No worries, its why we test things out :)
👍

[2020-08-18 03:02] mikehelmick commented on #260
I'll be adding the ability to create a realm via UI soon

[2020-08-18 03:03] sherifkozman commented on #260
No worries, its all good, waiting for you multi tenant updates as well

[2020-08-18 03:11] #260 closed

[2020-08-18 14:15] sherifkozman opened #263 "Clarification for AppName value when creating Admin and Device APIs"
When creating a new API key (Device/Admin) , if appname is supposed to be the bundleID/AppID (i.e com.appname.mobile) , system refuses using the same app name even if API type is different (i.e Device Vs Admin)
" Failed to create API Key: pq: duplicate key value violates unique constraint "realm_apikey_name" "
Is this a correct behavior ?

[2020-08-18 14:23] mikehelmick commented on #263
Yes - API key names must be unique.

[2020-08-18 14:26] sherifkozman commented on #263
@mikehelmick they must be unique but it doesnt have to be the app ID , did i get that correct ?

[2020-08-18 14:43] mikehelmick commented on #263
Right - it’s just a string - something an admin can identify should you need to revoke a key

[2020-08-18 14:56] #263 closed

[2020-08-18 17:46] mikehelmick commented on #149
/assign

[2020-08-18 17:54] mikehelmick commented on #134
/close

this is part of client side config, we now have custom error strings "ErrorCode" in return

[2020-08-18 17:54] #134 closed

[2020-08-18 17:56] mikehelmick commented on #180
What's left here?

[2020-08-18 18:06] mikehelmick opened #265 "e2e test container"
Bundle the e2e test tool into a runnable HTTP server/container.

essentially the tools/e2e tester that can be run an an automated fashion as a prober.

Setup instructions (needs to be fully written as part of this)

- create a separate realm for the probers
- configure a key sever for that healthAuthorityID that puts keys into an UNUSED region so that they generated keys don't enter the general ex

[2020-08-18 18:09] icco opened #266 "Open Census for Redis"
### TL;DR

Implement https://opencensus.io/integrations/redis/go/

[2020-08-18 18:10] icco opened #267 "Open Census for Postgresql"
### TL;DR

Implement https://opencensus.io/integrations/sql/go_sql/

[2020-08-18 19:40] icco commented on #180
I think we can close this for more specific bugs. https://github.com/google/exposure-notifications-verification-server/issues/266 and https://github.com/google/exposure-notifications-verification-server/issues/267

[2020-08-18 19:40] #180 closed

[2020-08-18 19:52] mikehelmick opened #268 "Realm onboarding docs"
Write a doc for how to onboard as a user of a realm

/kind enhancement

[2020-08-18 21:18] icco commented on #267
/kind enhancement

[2020-08-18 21:18] icco commented on #266
/kind enhancement

[2020-08-19 00:08] whaught commented on #109
I've filed https://github.com/google/exposure-notifications-verification-server/issues/232 as a potential followup. That said there are some open questions about if we will hash these keys (which makes listing less useful)

/close

[2020-08-19 00:08] #109 closed

[2020-08-19 15:54] icco commented on #232
/kind enhancement

[2020-08-19 16:25] whaught commented on #232
Note: We've since decided to hash the codes. That may make this less useful

[2020-08-19 16:27] mikehelmick commented on #232
Would it make sense to show the UUIDs instead?

It would for someone doing an external integration, because they could tie that back into the CRM

[2020-08-19 16:37] #220 closed

[2020-08-19 20:34] sethvargo commented on #200
/assign

[2020-08-19 21:33] mikehelmick opened #286 "Write onboarding guide for realm createion"

[2020-08-19 22:29] mikehelmick commented on #286
duplicate of #268

which I filed...

🤦

/close
/shrug
/dog

[2020-08-19 22:29] #286 closed

[2020-08-19 22:29] mikehelmick commented on #286
/cat

[2020-08-20 16:41] yegle commented on #265
@mikehelmick I can start working on this. Do you have a quick write up on how to use the e2e tester?

[2020-08-20 16:43] mikehelmick commented on #265
don't have a quick writeup.
All of the flags in the e2e tester define what settings are needed, essentially just needs to know which servers to connect to and which credentials to use.

[2020-08-20 16:47] yegle commented on #265
/assign @yegle

[2020-08-20 17:04] #200 closed

[2020-08-20 20:19] sherifkozman opened #296 "No prompt for new users to create password"
After Adding a new user , the login page has got username/password fields with no workflow for new users to set up passwords like before.

I assumed there will be an email sent out when adding new users but there was non

[2020-08-20 20:28] mikehelmick commented on #296
This is still under development

/assign @whaught

[2020-08-20 20:36] whaught commented on #296
This is on the way! We removed the firebaseUI login to make way for 2-factor auth. We now require email validation too.

[2020-08-20 21:30] #296 closed

[2020-08-20 21:52] sherifkozman commented on #296
Thanks @whaught but after deploying the latest code we were unable to add new users as they are unable to create passwords.
Any ETA for when would that be completed ?

[2020-08-20 21:56] whaught commented on #296
I believe with https://github.com/google/exposure-notifications-verification-server/pull/298 they should be able to click 'new user' and create their login using the old flow

[2020-08-21 14:18] sherifkozman opened #303 "Error 429 still exists"
We are running off commit : 691f9f5b52a538b0abbf1fb3d9c7c1fecb8809a6 while the rate limiting error 429 still persists.

[Edit by @sethvargo - removed a screenshot that contained identifiable information]

[2020-08-21 15:23] whaught opened #304 "Send email login to sign-up new users"
### TL;DR
New users should get an email to join, then create a password.

### Design

**Problems**
At the moment users can create a new account without being invited. They exist for auth but have not Users entry (or access to any realm). At the moment this results in a redirect loop to the sign-in page (is cookie clearing working right?)
If the user both creates a login and was invited, everything

[2020-08-21 15:44] whaught opened #305 "Combine signout/login page"
**Proposal**
Emit a sign-out template to the login page to trigger auth sign-out

1) Fix redirect loop issues
2) Better experience
3) Use the success flash for feedback

[2020-08-21 15:48] wescarr opened #306 "apiserver fails to lookup authorized app and requires restart"
### TL;DR
The `apiserver` somehow gets into a bad state and logs the following error when calling the `verify` endpoint:
[code]

**Expected behavior**
The apiserver to be able to load the authorized app data from the DB reliably

**Observed behavior**
The `/verify` endpoint responds with a `500` error until the service is restarted

### Reproduction
I unfortunately don't have a consistent repro, b

[2020-08-21 17:14] #305 closed, assigned to whaught

[2020-08-21 17:48] pathus90 opened #309 "set of Terraform configurations"
### Question
Hello,
I am trying to set of Terraform configurations which create the required infrastructure for a verification server on Google Cloud but i am i am facing this issue.

https://github.com/google/exposure-notifications-verification-server/tree/main/terraform
when i execute Terraform:
`$ terraform apply`

i am getting this error message

[code]

Could you help me understand if I forgo

[2020-08-21 20:42] mikehelmick opened #312 "region code needs to be varchar(6)"
Some [ISO_3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) subdivision codes are 3 characters.

So we need to be able to accommodate 2-3 (`12-456`) and not just 2-2.

/kind bug
/kind good-first-issue

[2020-08-21 22:15] #309 closed, assigned to nobody

[2020-08-21 22:33] #312 closed, assigned to nobody

[2020-08-21 23:27] flagxor opened #317 "Error codes returned seem inconsistent"
### TL;DR
ErrVerifyCodeInvalid is returned when ErrTokenInvalid should be and possibly others.

**Expected behavior**
ErrVerifyCodeInvalid when submitting in invalid pin.

**Observed behavior**
ErrTokenInvalid

### Reproduction

Call verify with invalid random code

[2020-08-23 00:13] yegle opened #326 "Server crash when running the e2e test against verification server"
### TL;DR

With a newly deployed verification server (`terraform apply` on a new GCP project), running the `tools/e2e-test` tool result in server crash when validating code status.

**Expected behavior**

Does not crash

**Observed behavior**

Crash.

e2e-test log:

[code]

Cloud Run log:
[code]

[2020-08-23 01:58] #326 closed, assigned to yegle

[2020-08-24 15:55] mikehelmick commented on #93
one note - this should be realm specific, i.e. paths like `/discovery/realm/1/keys.json`

/assign @jeremyfaller

[2020-08-24 16:23] mikehelmick commented on #93
Other random thoughts in my head

- make sure to cache these, possibly moving them into the redis cache so that requesting the JWKS documents doesn't become an attack vector
- and the URI should be displayed on the new '/realm/keys' page

[2020-08-24 16:44] mikehelmick commented on #133
to have this work w/ signing key management, https://github.com/google/exposure-notifications-server/issues/916 will need to be done on the ENS repo.

[2020-08-24 18:33] mikehelmick opened #341 "Checking code status from an API key results in error"
### TL;DR

Here
https://github.com/google/exposure-notifications-verification-server/blob/c087da264067813329a3d1eee1db0187d941c37e/pkg/controller/codestatus/logic.go#L35

We need to check for authApp || user in the authorization context.

/assign @whaught
/priority important-soon

[2020-08-24 19:07] #317 closed

[2020-08-24 19:12] #341 closed

[2020-08-24 21:32] icco opened #344 "Redis connect is not always live on boot"
### TL;DR
We use redis for rate limiting. Sometimes when we are deploying a new version, and we are sending lots of traffic, we see connection drops to Redis, thus returning 500s to the user.

**Expected behavior**

429 or 200 response code (ie Redis stays alive)

**Observed behavior**

500

### Reproduction

If you send a lot of traffic to the service while you are promoting a new version, you'll

[2020-08-24 23:47] mikehelmick opened #346 "Change signer and public key caches to use redis cache instead of local in-memory"
/kind enhancement

[2020-08-24 23:49] mikehelmick commented on #94
/assign

[2020-08-24 23:50] #133 closed

[2020-08-24 23:58] sethvargo commented on #346
We'll need to make sure the cachable types only have public fields. I think all the public key implementations are public struct fields

[2020-08-25 00:15] mikehelmick commented on #94
taking a simple approach here of allowing new/old keys to be specified by env-var

[2020-08-25 00:42] mikehelmick opened #349 "Support certificate signing key destruction"
### TL;DR

Followup from #149
Keys can be made in active, but currently there is no way to delete

### Design

**Proposal**

Add a "destroy" button (with appropriate warning) that makes a destroy key material call to the KMS system and then deletes the SigningKey record in the server's database (will cause it to no longer appear).

**Alternatives considered**

not doing this... which seems bad.

*

[2020-08-25 00:42] mikehelmick commented on #149
done.

filed on followup: https://github.com/google/exposure-notifications-verification-server/issues/349

/close

[2020-08-25 00:43] #149 closed

[2020-08-25 01:19] mikehelmick opened #350 "code expiry countdown timer jumps"
### TL;DR

When issuing multiple codes quickly, the countdown timer jumps around, seemingly handling multiple codes at once.

## expected

The most recent code only should be shown. Likely need to cancel the previous one when resetting the form.

/assign @sethvargo

[2020-08-25 01:57] sethvargo commented on #303
Just an update on this since @sherifkozman and I are chatting offline. We believe the issue is related to scale up/down events not properly closing connections and then, eventually, exhausting the pool. We're going to investigate some service-level changes and will report back.

[2020-08-25 02:05] #350 closed

[2020-08-25 15:39] sherifkozman opened #356 "Migration fails after release upgrade"
Migrations seems to fail after release upgrade as we missed a coupld of releases on the way.

![migration error](https://user-images.githubusercontent.com/666788/91196060-8a776580-e6ae-11ea-8d76-19d51390cfcc.png)

@mikehelmick

[2020-08-25 15:46] mikehelmick commented on #356
/assign

[2020-08-25 15:54] mikehelmick commented on #356
can you share more logs?
this doesn't tell me where it failed

[2020-08-25 16:15] #356 closed

[2020-08-25 16:26] mikehelmick opened #359 "VerifcationCode model is too chatty"
Because of the way the relationships are specified - lots of SQL runs on a code save. Especially if the user is in lots of realms and admins realms as well.

[code]

/kind enhancement
/assign

[2020-08-25 16:36] mikehelmick commented on #359
With my fix this is down to 2 statements

[code]

[2020-08-25 16:42] #359 closed

[2020-08-25 17:04] sethvargo opened #362 "Redirect all GCLB URLs to HTTPS"
/assign @icco

[2020-08-25 17:06] mikehelmick commented on #362
relevant GCLB doc: https://cloud.google.com/load-balancing/docs/https/setting-up-http-https-redirect

[2020-08-25 21:00] taddari commented on #266
/reopen

[2020-08-25 21:02] icco commented on #266
/reopen

[2020-08-25 21:42] yegle commented on #265
Finally get everything working:

[code]

[code]

[2020-08-26 14:57] #266 closed

[2020-08-26 15:53] taddari commented on #267
/assign

[2020-08-26 19:24] icco opened #381 "Add HSTS middleware"
Related to https://github.com/google/exposure-notifications-verification-server/issues/362, we should add HSTS headers to our responses to make sure browsers are only using HTTPS, because our tools won't work over HTTP.

[2020-08-26 19:28] sethvargo commented on #381
/assign

[2020-08-26 21:27] #63 closed

[2020-08-26 23:01] #381 closed

[2020-08-26 23:03] icco commented on #381
Thanks!

[2020-08-27 00:22] sethvargo commented on #349
/assign

[2020-08-27 01:02] #349 closed

[2020-08-27 04:45] mikehelmick commented on #306
#393 is a candidate fix for this.

[2020-08-27 04:48] mikehelmick commented on #303
#391 should fix this issue.

/close

[2020-08-27 04:48] #303 closed

[2020-08-27 04:49] mikehelmick commented on #306
/assign

[2020-08-27 04:49] mikehelmick commented on #141
Anything left on this one?

[2020-08-27 14:31] #306 closed

[2020-08-27 15:57] #94 closed

[2020-08-27 17:22] wescarr commented on #306
@mikehelmick Thanks for following up on this. Will get it deployed shortly and keep an eye out!

[2020-08-27 18:29] sherifkozman opened #397 "API key for one realms returns signing configuration for a different realm"
We noticed that using an API Key for a specific realm (i.e 3) returns signing confguration of a different realm (i.e7) , specifically the last realm that was created, causing mismatch in our workflow.

@mikehelmick

[2020-08-27 18:46] mikehelmick commented on #397
/assign

[2020-08-27 19:01] sherifkozman opened #400 "services returns error 500 due to connecting to 127.0.0.1:6379 for REDIS"
Services are returning error 500 as they are trying to connect to a wrong redis host (127.0.0.1:6379) although env for REDIS (RATE_LIMIT_REDIS_HOST) is already set to a value.

@mikehelmick

[2020-08-27 19:06] sethvargo opened #401 "Cleanup, invalid syntax near returning"
[code]

/assign

[2020-08-27 19:06] #397 closed

[2020-08-27 19:19] #400 closed

[2020-08-27 19:44] #401 closed

[2020-08-27 21:00] joshgummersall opened #405 "CACHE_REDIS_HOST broken"
### TL;DR
The way env prefixing is used in the current repo for cache configuration is broken. `CACHE_` is included as a prefix twice for Redis host/port environment variables.

**Expected behavior**
Services with caching should work with the provided Terraform configuration

**Observed behavior**
Services with caching do not work.

### Reproduction
Deploy from master

The fix should be to either

[2020-08-27 21:02] joshgummersall commented on #405
The acute fix I used was the change `CACHE_REDIS_HOST` to `CACHE_CACHE_REDIS_HOST` in Terraform files.

[2020-08-27 21:11] sethvargo commented on #405
Dupe of https://github.com/google/exposure-notifications-verification-server/issues/400. Although that should have been already fixed depending on when you pulled.

[2020-08-27 21:12] sethvargo commented on #405
Fixed in https://github.com/google/exposure-notifications-verification-server/issues/402. Please ensure you're on that commit or later.

[2020-08-27 21:12] #405 closed

[2020-08-27 21:16] joshgummersall commented on #405
Probably landed just after I pulled and deployed. Thanks!

[2020-08-27 21:35] yegle opened #407 "Required redis envvar is not added to Terraform configs"
See https://github.com/google/exposure-notifications-verification-server/blob/main/pkg/redis/config.go

[2020-08-27 21:39] sethvargo commented on #407
What envvars are missing?

[2020-08-27 21:40] sethvargo commented on #407
They are set for the [cacher](https://github.com/google/exposure-notifications-verification-server/blob/5824e7f1110fee4b34163e866c2b17b8f474b35a/terraform/services.tf#L30-L31) and the [rate limiter](https://github.com/google/exposure-notifications-verification-server/blob/5824e7f1110fee4b34163e866c2b17b8f474b35a/terraform/services.tf#L66-L67)

[2020-08-27 21:46] yegle commented on #407
Ooops, you are right. Apparently `terraform apply` failed on my end. Rerun `terraform apply` fixed the issue.

[2020-08-27 23:38] yegle commented on #407
FWIW I think this is the same issue https://github.com/google/exposure-notifications-verification-server/pull/402 fixes.

[2020-08-28 05:25] yegle commented on #407
Hmm there's something that still isn't right.

I'm working on main branch. Deploying the verification server and check the adminapi service's detail I can see these environment variables:

[code]

E2e test is failing with this log:

[code]

Version v0.5.0 works fine.

[2020-08-28 05:25] yegle commented on #407
FWIW the parent of my branch is e3b8ca8eed858ed791bb4c823faa2e631d52f565

[2020-08-28 12:49] sethvargo commented on #407
The values are `CACHE_REDIS_HOST` and `CACHE_REDIS_PORT`: https://github.com/google/exposure-notifications-verification-server/blob/e3b8ca8eed858ed791bb4c823faa2e631d52f565/terraform/services.tf#L28-L32

[2020-08-28 15:48] mikehelmick opened #410 "Realm level stats"
### TL;DR

Add charts AND graphs of how many codes a realm has issued per day.

Bonus points for graphing against number of codes that were claimed.

/assign @jeremyfaller
/kind enhancement

[2020-08-28 15:53] sethvargo commented on #410
Here's how we do it for users:

- https://github.com/google/exposure-notifications-verification-server/blob/e3b8ca8eed858ed791bb4c823faa2e631d52f565/pkg/controller/user/show.go#L63
- https://github.com/google/exposure-notifications-verification-server/blob/e3b8ca8eed858ed791bb4c823faa2e631d52f565/cmd/server/assets/users/show.html#L89

The users_stats table has a realmID, but the authapp_stats tabl

[2020-08-28 16:09] sethvargo opened #411 "Include git SHA/tag in builds and logs"
When debugging things, it'd be helpful to know which version of the code a log corresponds to. We can use build tags and the namespaced logger to always include this information.

/assign

[2020-08-28 16:57] mikehelmick commented on #411
bonus points if we display that somewhere in the UI

[2020-08-28 17:00] #93 closed

[2020-08-28 18:22] mikehelmick opened #413 "Write realm admin and setup guide"
/kind enhancement
/assign

[2020-08-28 18:22] mikehelmick commented on #413
already working on this, just filing an issue for tracking the work

[2020-08-28 22:37] #362 closed

[2020-08-29 00:46] icco opened #416 "Traces not connected"
Two problems with our current traces.

 - Traces aren't connecting, which means we are losing context somewhere. When this is working, connections to database will show up as sub traces of the HTTP requests made by users. Currently they show as separate traces.

 - Logs don't have trace context. This is less of a big issue, but if all logs connected to a request are group together, it makes it eas

[2020-08-29 00:46] icco commented on #416
/assign

I've started on part two, still need to figure out what's wrong with part one.

[2020-08-29 13:46] mikehelmick opened #418 "password reset gone"
### TL;DR

Since upgrading to cloud identity, the password reset link is gone.

**Expected behavior**

users can reset passwords on their own.

[2020-08-30 23:48] yegle commented on #265
Still need to configure Cloud Scheduler to probe the e2e-service.

[2020-08-31 00:18] #76 closed

[2020-08-31 16:03] #411 closed

[2020-08-31 16:14] mikehelmick commented on #76
This should be per-realm, not per user

[2020-08-31 18:36] #265 closed

[2020-08-31 21:49] yegle commented on #139
This should've been covered by the e2e-runner service (h/t to the original e2e-test CLI).

[2020-08-31 21:49] #139 closed

[2020-08-31 22:30] sherifkozman opened #425 "set custom domain for firebase email verification"
### TL;DR
Ability to setup custom domain for firebase email verification and communication

**Additional information**
Currently all email communication for the verification server uses the projectid.firebaseapp.com as an email host, it would helpful to use custom domains for sending out email communication.

[2020-09-01 00:17] sethvargo opened #429 "Implement rotation for various encryption/signing keys"
/assign

[2020-09-01 00:21] yegle opened #430 "cleanup (?) container image deployed to e2e-runner service"
### TL;DR
See this https://e2e-runner-phy3etbl5q-uc.a.run.app/ (e2e runner service, temporarily allowing `allUsers` access).

**Expected behavior**
e2e-runner handlers (e.g. /default and /revise) should be available.

**Observed behavior**
`/` returns `{"cleanup":false}`, while `/default` and `/revise` returns 404.

### Reproduction

1. `scripts/build`
1. `scripts/deploy`
1. `scripts/promo`

[2020-09-01 00:51] mikehelmick opened #432 "Add system level twilio config that a system admin can 'share' with a realm"
/kind enhancement

[2020-09-01 01:32] #430 closed

[2020-09-01 16:22] mikehelmick commented on #344
Do we still see this w/ the latest changes?

[2020-09-01 17:35] sethvargo opened #441 "Upgrade to Go 1.15.1"
https://groups.google.com/g/golang-announce/c/8wqlSbkLdPs/m/UccMwBPUBAAJ

[2020-09-01 17:57] icco commented on #344
I believe this is fixed now.

[2020-09-01 17:57] #344 closed

[2020-09-01 18:36] sethvargo commented on #441
/assign @jeremyfaller

Note: we'll need to wait for the official Docker containers _and_ Homebrew to be updated.

[2020-09-01 20:08] #413 closed

[2020-09-02 00:59] sherifkozman opened #449 "cloud build step fails with 404 on save-cache"
cloud build services fail in step#2 save-cache with the following 404 error
Step #2 - "save-cache": failed to walk files: failed to write tar: googleapi: Error 404: Not Found, notFound: failed to close tar writer: googleapi: Error 404: Not Found, notFound: failed to close gzip writer: googleapi: Error 404: Not Found, notFound: failed to close gcs writer: googleapi: Error 404: Not Found, notFound
S

[2020-09-02 01:28] sethvargo commented on #449
/assign

[2020-09-02 01:29] sethvargo commented on #449
You're missing the Cloud Storage cache bucket. Run the updated Terraform and then attempt to deploy.

[2020-09-02 01:41] sherifkozman commented on #449
Did that and failed due to a missing container image was not found :

Error: Error waiting to create Service: resource is in failed state "Ready:False", message: Image 'gcr.io/gaen-verification/github.com/google/exposure-notifications-verification-server/e2e-runner:initial' not found.

[2020-09-02 01:52] sethvargo commented on #449
Hmm yea, we added a new container and should have added this to the release notes. Run `terraform taint null_resource.build`.

[2020-09-02 02:17] sethvargo opened #452 "API doc examples are incorrect"
https://github.com/google/exposure-notifications-verification-server/blob/main/docs/api.md#error-reporting

Most of those JSON keys are incorrect.

/assign

[2020-09-02 02:24] mikehelmick commented on #452
/assign

[2020-09-02 02:24] sherifkozman commented on #449
terraform taint null_resource.build worked
However e2e service fails to be created as it requires migration to run first as a dependency.

I ran migrations manually and this resolved the issue for now

[2020-09-02 02:53] #452 closed

[2020-09-02 13:43] sethvargo commented on #449
I've updated the release notes for 0.6.0 to call this out. Unfortunately there's no easy way around it for now.

[2020-09-02 13:43] #449 closed

[2020-09-02 15:26] sherifkozman opened #456 "Unhappy path upgrading from 0.5 to 0.6 in terraform"
upgrading from 0.5.0 to 0.6.0 results errors with terraform resources in conflict names for pre-exisiting resources , sample error dump as follows :

[code]

[2020-09-02 15:28] sethvargo commented on #456
@sherifkozman - that looks like you may have lost your Terraform state?

[2020-09-02 17:27] yegle opened #460 "Create a stackdriver dashboard pulling in metrics from both key server and verification server"
### TL;DR
Now that #265 is fixed, we should set up some stackdriver dashboard showing the related metrics that are probed by the e2e-runner service.

### Design

1. Use https://www.terraform.io/docs/providers/google/r/monitoring_dashboard.html to manage the dashboards
2. Pull in metrics from both key server and verification server.

[2020-09-02 17:46] sherifkozman commented on #456
The issue seems to be related to this #354
The module is being imported into main.tf under a subfolder while terraform doesnt scan recurrsively
If you move the module config to the root main.tf the entire state gets messed up if you are upgrading from 0.5.0
I was able to reproduce that also i was able to revert it once i removed all module.en references from the state file.

[2020-09-02 17:59] yegle opened #461 "Use Terraform to manage our alerting rules"
### TL;DR
Similar to #460, we should also manage our alerting rules using Terraform so that the work can be replicated easily.

### Design

Use https://www.terraform.io/docs/providers/google/r/monitoring_alert_policy.html to manage alerting policies in StackDriver.

[2020-09-02 18:00] yegle commented on #461
/assign @yegle

[2020-09-02 18:09] icco commented on #460
We'll probably want two dashboards. One that's just verification server, and one that's for the e2e that has both.

[2020-09-02 18:19] sethvargo commented on #461
alerting policies in the _product formerly known as_ StackDriver.

[2020-09-02 18:20] #456 closed

[2020-09-03 02:57] mikehelmick opened #469 "Add admin APIs to API doc"
Currently missing from

https://github.com/google/exposure-notifications-verification-server/blob/main/docs/api.md

/kind enhancement

[2020-09-03 02:58] mikehelmick commented on #469
/assign

[2020-09-03 15:39] #469 closed

[2020-09-03 16:11] icco opened #471 "create a favicon.ico"
/favicon.ico regularly 404s. We should make one!

[2020-09-03 17:18] sethvargo commented on #471
/assign

[2020-09-03 17:20] icco commented on #461
/kind enhancement

[2020-09-03 18:42] jeremyfaller commented on #441
FYI As of Sept 3, 2020 brew is not at 1.15.1.

[2020-09-03 18:48] jeremyfaller commented on #432
Alright, getting started on this, and need some clarification: How are we looking to share this file? Is it the defaults loaded into a new realm, can a running realm be updated to the settings?

Can you walk me through a little of what you have in mind, and I'll fill in the more details?

[2020-09-03 19:38] sethvargo commented on #432
Right now there's an "SMSConfigs" table that has a 1-1 mapping with a realm. The easiest thing to do would be to create a "system" realm where a sysadmin can upload some twilio creds using the existing forms, then provide a way to attach that SMSConfig to another realm (changing the relationship from 1-1 to 1-n)

[2020-09-03 20:03] jeremyfaller commented on #432
And we should still allow a realm to its own config, correct? (So, a realm would have the system level config unless it overrides it, correct?)

[2020-09-03 20:25] sethvargo commented on #432
Yea, I think the precedence is realm-specific, then system-specific (if shared with that realm, else empty (no sms)

[2020-09-03 23:12] yegle opened #474 "OpenCensus metric export fail sometimes"
### TL;DR
Example log:

[code]

This log is from `apiserver` service, but it also happen a lot on `e2e-runner` service.

[2020-09-03 23:12] yegle commented on #474
/kind bug

[2020-09-04 00:08] sethvargo commented on #474
/assign @icco

[2020-09-04 00:12] icco commented on #474
Yup we've been looking into this. Current theory is it's a big in open census. We have verified that we aren't losing any data, as uploads are retired. Why data is getting sent more than once a minute, we have no idea.

[2020-09-04 22:06] sherifkozman opened #477 "Creation of alerting Policies will fail because monitoring workspace must be manually enabled"
### TL;DR
Creation of alerting Policies will fail because monitoring workspace must be manually enabled.

### Details :
GCP Monitoring Workspace have no support in terraform yet and should be enabled manually first before running the Alerting and notifications terraform scripts.

README should be updated to include such note and manual step of enabling a monitoring workspace.

[2020-09-04 23:02] icco commented on #477
/assign @yegle

We discovered this yesterday! Thanks for filing this, @yegle is working on it.

[2020-09-04 23:58] yegle commented on #477
Yes unfortunately the only way to create the workspace is to go to the Google Cloud console (it's not even supported in gcloud command per the document, otherwise we would be able to create it by using `null_resource` with `local-exec`).

[2020-09-05 00:00] sherifkozman commented on #477
Yes this is why my suggestion is only update the readme with this note as a prerequisite in case alerting is enabled

[2020-09-05 04:41] sherifkozman opened #478 "In a Multi tenant setup, how is the first sys admin created?"
Deploying the latest release on a fresh install not an upgrade, doesnt seem clear how the first Realm Admin is being provisioned?

[2020-09-05 13:08] mikehelmick commented on #478
You need to use ‘cmd/add-users’ to create system admins

[2020-09-07 13:59] sethvargo commented on #477
@yegle @icco can you send me an email with the details? I might be able to poke the team and see where this is on the roadmap.

[2020-09-07 15:37] sethvargo commented on #478
/assign

[2020-09-07 16:14] mikehelmick commented on #478
@sethvargo - what’s your plan? Just docs?

[2020-09-07 16:18] #478 closed

[2020-09-07 16:40] sethvargo commented on #478
Yea, just docs

[2020-09-07 20:18] sethvargo commented on #441
Looks like it might have landed now.

[2020-09-07 21:09] yegle commented on #477
https://github.com/hashicorp/terraform-provider-google/issues/2605 is the one tracking this feature.

It looks like https://github.com/hashicorp/terraform-provider-google/issues/6384 is the internal bug tracking it :-)

[2020-09-07 21:16] sherifkozman commented on #477
I still don't get hour it's a terraform bug if GCP doesn't avail any api to create/assign workspaces for stackdriver yet.

[2020-09-07 21:51] sethvargo commented on #267
Re-opening this. We had to revert the OC integration because it was introducing quite a few test failures and legitimate data races in our tests.

[2020-09-07 22:04] sethvargo commented on #267
I'm pretty sure that we can instrument postgres and then pass the postgres driver to gorm. Then we just have to tell gorm to use the context that has opencensus configured.

I think the library we pulled in was doing some hacky things with gorm callbacks.

[2020-09-08 08:17] taddari commented on #267
Yes, I think that library is the culprit, let me revert that.

[2020-09-08 08:41] taddari commented on #267
Hi, Seth, yes I that library was unnecessary as I couldn't see any gorm related metrics anyways. By the way, for this we actually don't need to pass any context as we are not doing any tracing anyways. Just overriding the driver is enough to show the metrics in my opinion.

[2020-09-08 13:14] icco commented on #441
+1 landed for me as well.

[2020-09-08 15:39] taddari commented on #346
/assign

[2020-09-08 17:54] #267 closed

[2020-09-08 21:53] whaught commented on #418
This was added last week: https://github.com/google/exposure-notifications-verification-server/pull/447

[2020-09-08 21:57] whaught commented on #418
/close

[2020-09-08 21:57] #418 closed

[2020-09-09 00:52] mikehelmick commented on #432
I'm encouraging realm operators to bring their own twilio credentials, but it's possible a system operator would want to just provide that.

[2020-09-09 13:51] sethvargo commented on #441
I think Jeremy is out this week, so I'll pick this up.

/assign

[2020-09-09 14:14] #441 closed

[2020-09-09 14:17] zssz opened #498 "[v0.7.0] Terraform deployment failure"
### TL;DR
Deploying v0.7.0 (or v0.6.0) in a **new** GCP project fails.

Console
[code]

Cloud Run Log for `e2e-runner`:
[code]

### Reproduction
Followed instructions [here for Production setup](https://github.com/google/exposure-notifications-verification-server/blob/main/terraform/README.md#production-setup).

[2020-09-09 14:21] sherifkozman commented on #498
@zssz you need to run the migrations first in that case.

[2020-09-09 14:29] sethvargo commented on #498
Can you share the fully Terraform output please?

[2020-09-09 14:32] zssz commented on #498
Terraform output:
[code]

Console output when running the migration command:
[code]

[2020-09-09 14:55] sethvargo commented on #498
Sorry - I meant, "can you share the output from when you ran `terraform apply`", but I understand how "terraform output" could be confusion 😄.

[2020-09-09 15:19] zssz commented on #498
@sethvargo:
Console output for `terraform apply`:

[code]

[2020-09-09 18:11] sethvargo commented on #498
Hi @zssz - that looks like output on existing infrastructure. In your issue, you noted this was a brand new project?

[2020-09-09 19:18] #429 closed

[2020-09-09 19:24] #477 closed

[2020-09-09 19:42] sethvargo commented on #477
Such an API might exist and it might be in alpha.

[2020-09-09 21:06] mikehelmick opened #506 "Allow realms to require 2FA"
### TL;DR

All realms to require 2FA before users can issue codes.

/kind enhancement
/assign @whaught

[2020-09-09 21:24] zssz commented on #498
@sethvargo yes, confirming it was a brand new GCP project. For me, `terraform apply` fails in one go.

Here are the steps and console output for the very 1st go for a new GCP project (`cw-en-verification-9`):

[code]

[2020-09-09 21:52] sethvargo commented on #498
Hmm - that's a slightly different error. What happens if you re-run Terraform?

[2020-09-09 22:11] whaught commented on #506
The trouble is we are using the following from our server: https://pkg.go.dev/firebase.google.com/go/v4/auth
However I don't believe any such golang client library exists for Identity Platform https://cloud.google.com/identity-platform/docs/admin/manage-mfa-users#before_you_begin. The REST API is backwards compatible from but we need the added the 'multiFactor' field.

Looks like it can all be don

[2020-09-09 22:21] zssz commented on #498
@sethvargo

[code]

Cloud Run log of `server` (`adminapi` and `apiserver` is similar):

[code]

[2020-09-09 22:29] whaught commented on #506
Sure enough: https://github.com/firebase/firebase-admin-node/blob/f11aed754d30fabb2b936e9b8958669c65750f5f/src/auth.d.ts#L217

Not present in other clients: https://github.com/firebase/firebase-admin-go/blob/cef91acd46f2fc5d0b3408d8154a0005db5bdb0b/auth/user_mgt.go#L71

[2020-09-10 00:22] sethvargo commented on #498
Ah I see the problem: https://github.com/google/exposure-notifications-verification-server/pull/510

[2020-09-10 00:32] #498 closed

[2020-09-10 01:10] sethvargo commented on #30
This is done!

[2020-09-10 01:10] #30 closed

[2020-09-10 01:11] sethvargo commented on #141
/close - remaining things are covered in other issues

[2020-09-10 01:11] #141 closed

[2020-09-10 01:24] sethvargo commented on #268
@mikehelmick is this done with https://github.com/google/exposure-notifications-verification-server/blob/main/docs/realm_guide.md or were you thinking about something more specific?

[2020-09-10 02:05] mikehelmick commented on #268
yeah, I guess this is done.

/assign
/close

[2020-09-10 02:05] #268 closed

[2020-09-10 18:46] dawsonpa commented on #498
@zssz Were you successfully able to deploy your project via terraform after they merged the fix? I am still seeing the issue when trying to deploy via terraform.

[2020-09-10 19:17] sethvargo commented on #410
/assign

Gonna fix up the last remaining bits since Jeremy is OOO this week.

[2020-09-10 20:17] icco commented on #461
There are two alerts we should write:

 - Elevated 5xx
 - Elevated rate limited requests

I've got the 5xx if you want to write the rate limit one @yegle ?

[2020-09-10 20:41] dawsonpa commented on #498
@zssz were you able to deploy your project successfully via terraform after they merged the change? I am still seeing an similar error.
<img width="1639" alt="Screen Shot 2020-09-10 at 4 40 56 PM" src="https://user-images.githubusercontent.com/7635070/92802381-786f1580-f384-11ea-9562-9d474d97e7b9.png">

[2020-09-10 20:44] mikehelmick opened #517 "Bulk user creation"
Allow realms to bulk-create user accounts.

Possibly paste in or upload a csv

/kind enhancement

[2020-09-10 20:45] mikehelmick opened #518 "Add/remove realm admin post-user create"
currently this is fixed, realm admins should be able to change this

/kind enhancement

[2020-09-10 20:47] whaught commented on #517
/assign

[2020-09-10 20:57] yegle commented on #461
Sure I can take the rate limit requests one.

[2020-09-10 22:15] mikehelmick opened #519 "Make a date required for code issue"
### TL;DR

Add a per-realm setting that _requires_ that at least one date is captured when issuing a verification code. It doesn't matter if it is test date or symptom onset date.

The default should remain false / current behavior.

This setting needs to impacts both UI and API for issuing codes (probably new return code for API).

/kind enhancement

[2020-09-10 22:23] sethvargo commented on #519
/assign

[2020-09-10 23:22] sethvargo commented on #410
Dunno why this didn't auto-close. Done.

[2020-09-10 23:22] #410 closed

[2020-09-10 23:23] sethvargo commented on #38
@mikehelmick @icco what's left on this?

[2020-09-10 23:25] sethvargo commented on #201
All the APIs are now rate limited with the ultimate fallback to IP. We're still toying with the proper default values, but this is done.

[2020-09-10 23:25] #201 closed

[2020-09-10 23:25] mikehelmick commented on #38
I think we still need metrics for the cleanup job

[2020-09-10 23:52] sethvargo commented on #232
If the use case is external integration, it seems like an API might be more appropriate?

[2020-09-10 23:52] sethvargo commented on #407
/close

[2020-09-10 23:52] #407 closed

[2020-09-10 23:55] sethvargo commented on #425
Hi @sherifkozman

Unfortunately this process is not easily automated. You can configure this yourself in the firebase console. Here's an article with step-by-step instructions: https://medium.com/@arutkayb/firebase-auth-how-to-set-up-a-custom-domain-for-email-templates-1693999224be

[2020-09-10 23:55] #425 closed

[2020-09-11 00:32] mikehelmick commented on #232
both - in general, things we put in the UI should probably also have APIs

[2020-09-11 02:37] #519 closed

[2020-09-11 14:30] dawsonpa opened #525 "Terraform Deployment Failing for 0.7"
### TL;DR
Terraform Deployment is not working on new GCP Project for 0.7

**Expected behavior**
Successfully deploy Verification Server via Terraform.

**Observed behavior**
Terraform Deployment Fails
### Reproduction
1.  Followed the Terraform Deployment README here https://github.com/google/exposure-notifications-verification-server/tree/main/terraform. Used the Quick Setup and Local Development

[2020-09-11 14:36] sethvargo commented on #525
/assign

Can you share the full Terraform output please? There's probably an error above with something failed.

[2020-09-11 14:37] sethvargo commented on #525
And what do the logs for that service say? You can find them in the Google Cloud console.

[2020-09-11 15:14] dawsonpa commented on #525
@sethvargo The full terraform output can be found here.

https://gist.github.com/dawsonpa/612739dbf62c48dc78ecdebdfc481213

[2020-09-11 15:24] dawsonpa commented on #525
@sethvargo I am seeing an error in the Google Cloud Console for that service:

![image](https://user-images.githubusercontent.com/7635070/92943861-495ab180-f421-11ea-8217-979d1c63967e.png)

[2020-09-11 15:39] dawsonpa commented on #525
@sethvargo I was able to get it to work by adding the following in the service_server.tf file

![image](https://user-images.githubusercontent.com/7635070/92945502-5a0c2700-f423-11ea-9fa6-8abede5bfaf8.png)

[2020-09-11 15:40] #506 closed

[2020-09-11 16:04] sethvargo commented on #525
Hi @dawsonpa - this is expected and is [documented here](https://github.com/google/exposure-notifications-verification-server/blob/main/terraform/README.md#production-setup).

/close

[2020-09-11 16:04] #525 closed

[2020-09-11 20:36] yegle opened #532 "Create a new project for Cloud Monitoring workspace"
### TL;DR

Per the doc, the recommended way to set up multi-project monitoring is to have a host project for the monitoring workspace: https://cloud.google.com/monitoring/workspaces/create#multi-project-ws

We need a host project to host all the alerts and dashboards. Maybe create a project named `encv-monitoring`?

[2020-09-11 20:36] yegle commented on #532
/assign @icco

[2020-09-11 23:42] sethvargo opened #534 "Abuse detection and prevention"
### TL;DR
We need a way to prevent a leaked API key or leaked user credential from providing codes to verify too many TEK uploads.

Leaked user credentials is largely mitigated by requiring MFA. For ENX, we should require MFA. Leaked API keys are currently mitigated by rate limiting, but we'd like a more intelligent system.

### Proposal

- [x] Update go-limiter and go-redisstore to allow for buck

[2020-09-11 23:42] sethvargo commented on #534
/cc @mikehelmick

[2020-09-12 01:00] yegle commented on #474
https://github.com/census-instrumentation/opencensus-go/blob/v0.22.4/stats/view/worker.go#L117

Looks like we did not set reporting period and are in fact reporting every 10 seconds.

[2020-09-12 01:26] yegle commented on #474
Hmm https://github.com/google/exposure-notifications-verification-server/issues/474#issuecomment-691370662 is incorrect. I was looking at an old commit and we do set reporting period to 2min right now.

[2020-09-12 01:45] yegle opened #535 "Some metrics from ratelimit middleware are missing from Cloud Monitoring"
### TL;DR
Some of the metrics from the ratelimit middleware is missing from Cloud Monitoring's metrics explorer. This is causing `terraform apply` error when applying the dashboards.

Metrics missing from our test project:
- /key_errors_count

Metrics missing from our prod project:
 - /key_errors_count
- /rate_limited_count

**Expected behavior**
All 4 metrics defined in https://github.com/google/

[2020-09-12 05:47] yegle commented on #535
/cc @icco

[2020-09-14 16:06] jeremyfaller commented on #534
`MAX(codes_in_the_past_7d) * growthrate` = 0 if no tokens in last 7 days. This is a startup problem, and 1.5 is a problem if we have spikes from things like Sturgis or other large public gatherings in jurisdictions with small outbreaks to begin with (eg Maine weddings). I would suggest >= 10 as a factor if we go with constant*MAX approach.

Is it possible we can get a good approximation of the con

[2020-09-14 16:25] sethvargo opened #536 "Update SMS templates to instruct users to open links on their device"
Since people often receive text messages on multiple devices (especially iOS devices), we should update the default SMS to include some language like "open this link on the device where you're reporting your COVID status".

We have to be mindful of character limits though.

[2020-09-14 16:32] yegle opened #537 "Variables in document template doesn't work"
### TL;DR
We uses variables in the alert.

https://github.com/google/exposure-notifications-verification-server/blob/f13ac85195f11be1a37f1dd2cf1508704f849065/terraform/alerting/monitoring.tf#L108

The actual delivered alert contains the variables as-is without substitution.

**Expected behavior**
https://cloud.google.com/monitoring/alerts/doc-variables doc works.

**Observed behavior**
Variables a

[2020-09-14 18:07] yegle commented on #537
After looking into this further I believe this is an issue with the delivery method we chose for our internal delivery. The notification from Cloud Monitoring (e.g. as email) does correctly handled the variable substitution.

[2020-09-14 18:07] #537 closed

[2020-09-14 18:17] yegle commented on #461
Consider this fixed.

[2020-09-14 18:17] #461 closed

[2020-09-14 19:08] whaught opened #538 "User pagination"
Users of the verification server may have hundreds to thousands of users which may eventually make our /users page unsuable. Consider including pagination / filtering to manager a larger user set.

Context:
https://github.com/google/exposure-notifications-verification-server/issues/517

/kind enhancement

[2020-09-14 19:08] whaught commented on #538
/assign

[2020-09-14 19:52] icco commented on #535
My current theory is that metrics that haven't been written to don't get populated.

[2020-09-14 23:45] #538 closed

[2020-09-15 13:50] sethvargo commented on #518
/assign

[2020-09-15 16:10] mikehelmick opened #545 "Improve 2FA SMA enrollment"
### TL;DR

We have user reports that 2FA enrollment is difficult due to the JS dialog box.

Move the confirmation to a separate page.

/kind enhancement

[2020-09-15 16:14] sethvargo commented on #545
/assign

[2020-09-15 23:51] sethvargo commented on #534
Yea, I'm gonna switch to a polynomial distribution instead.

[2020-09-16 01:59] mikehelmick opened #549 "ENS protocol redirect server"
### TL;DR
A prototype for this exists in PR #546

The current [ens protocol spec](https://github.com/google/exposure-notifications-verification-server/blob/main/docs/ens-spec.md) is not clickable in all messaging apps that may be used to receive SMS deep links on mobile devices.

In order to ensure that all users have a clickable link, we will provide a redirect server that verification server ope

[2020-09-16 02:42] mikehelmick commented on #549
PR for server itself is #546

Still to do

- Terraform
- Update main server w/ instructions for deep links

[2020-09-16 16:26] mikehelmick commented on #549
/assign @icco
is going to take on the terraform piece

[2020-09-16 17:56] yegle commented on #535
Noticed from the doc https://cloud.google.com/monitoring/custom-metrics/creating-metrics:

This sounds to me that the "failed to export metrics" error in #474 (maybe also #416?) is the root cause.

[2020-09-16 18:14] icco commented on #474
/assign @yegle as he's going deep on this :D

[2020-09-17 01:15] yegle commented on #460
Still working on this.

[2020-09-17 02:02] whaught commented on #545
the window.prompt for pin isn't ideal (it was the fastest thing to write for now)

[2020-09-17 06:06] whaught commented on #545
/assign

I'm stealing this. @sethvargo yell at me if you've already got progress here

[2020-09-17 13:54] sethvargo commented on #545
Steal away

[2020-09-17 16:03] #545 closed

[2020-09-17 20:14] #518 closed

[2020-09-18 16:05] #534 closed

[2020-09-18 16:07] sethvargo opened #572 "Set up monitoring and alerting when realms are at certain capacity levels"
Set up monitoring and alerting when realms are at certain capacity levels (e.g. 90%). These will have to go to the server operators since we don't have a way to send email to realm admins.

There are already stats - we just need the monitoring and alerts.

/cc @icco @yegle - do one of you have capacity to work on this?

[2020-09-18 16:12] mikehelmick opened #573 "password complexity enforcement"
Add the ability to enforce password complexity

Must be a non-dictionary word
Must be composed of characters from at least three of the following four groups

- Upper case letters (A-Z)
- Lower case letters (a-z)
- Arabic numerals (0-9)
- Non-alphanumeric characters (punctuation symbols)

/kind enhancement
/assign @whaught

[2020-09-18 16:13] mikehelmick opened #574 "Session idle timeout"
* Change default session length to 20h, requiring login typically once a day.

* Allow realm config to add an idle timeout that will destroy a session if no actions are taken in a certain time frame.

/kind enhancement

[2020-09-18 16:15] mikehelmick opened #575 "password reset interval"
Allow realms to require that passwords are reset on a certain interval

This can be enforced on realm selection (rather than on login).

For example if realm A has a 30d change policy, but the user only ever interacts with realm B without this enforcement, they will not be promoted to change their password.

/kind enhacment

[2020-09-18 16:16] mikehelmick commented on #575
/kind enhancement

[2020-09-18 16:17] mikehelmick opened #576 "Realm login banner"
After login / realm selection, display a per-realm welcome message

/kind enhancement

[2020-09-18 16:17] icco commented on #572
/kind enhancement

I will next week, @yegle I think will too. And @femnad might also be free.

[2020-09-18 16:22] sethvargo commented on #574
/assign

[2020-09-18 16:23] sethvargo commented on #576
/assign

[2020-09-18 16:23] sethvargo commented on #575
Feels like this could be bundled up with GH-573 /cc @whaught

[2020-09-18 16:23] mikehelmick commented on #574
discussed w/ @sethvargo offline.

We will implement a universal idle timeout (default of 20m) for all UI sessions.

[2020-09-18 16:24] icco opened #577 "Add latency alerts"
We should have p90 latency alerts for server and apiserver

[2020-09-18 17:09] #573 closed

[2020-09-18 17:46] femnad commented on #572
/assign

[2020-09-18 17:59] whaught commented on #575
/assign

[2020-09-18 18:21] mikehelmick opened #580 "redirect service support associated domain"
The redirect service needs to support hosting the Apple associated domains data.
https://developer.apple.com/documentation/safariservices/supporting_associated_domains

And Android App Links ownership
https://developer.android.com/training/app-links/verify-site-associations

/kind enhancement

[2020-09-18 20:13] mikehelmick opened #582 "Change defaults for SMS templates for HTTPS redirect service"
1. For Non-EN Express, Change the default SMS text template to not include a clickable link

1. Change the expansion of [enslink]

    * Add a system level config, redirect TLD, i.e. `example.com`

    * Expand this link correctly in the https style.

/kind enhancement
/assign

[2020-09-18 20:25] #574 closed

[2020-09-18 21:12] sethvargo commented on #582
@mikehelmick wanna wrap up #536 in this too?

[2020-09-18 21:13] #576 closed

[2020-09-18 21:45] mikehelmick commented on #536
/assign

[2020-09-18 21:45] mikehelmick commented on #582
will do

On Fri, Sep 18, 2020 at 2:12 PM Seth Vargo <notifications@github.com> wrote:

[2020-09-18 21:58] icco commented on #577
/assign @taddari

[2020-09-18 21:59] icco commented on #535
/assign @yegle

[2020-09-18 22:34] whaught commented on #304
/close

[2020-09-18 22:34] #304 closed

[2020-09-19 01:40] mikehelmick opened #595 "panic / nil pointer in middleware.NeedsEmailVerification"
[code]

/kind bug
/priority important-soon

[2020-09-19 01:55] whaught commented on #595
/assign

[2020-09-19 02:02] whaught commented on #595
@sethvargo  already got to this

https://github.com/google/exposure-notifications-verification-server/pull/591

/close

[2020-09-19 02:02] #595 closed

[2020-09-19 18:21] sethvargo opened #600 "Password reset link forces password reset"
When clicking on the password reset link, I'm taken to `/login/select-password`. Then, after a brief moment, I'm redirected to the "you must change your password" page.

![ezgif-1-f2554508ac13](https://user-images.githubusercontent.com/408570/93686316-73484f80-fa83-11ea-88b1-fd566704efb6.gif)

[2020-09-19 18:22] sethvargo commented on #600
/assign @whaught

[2020-09-19 19:51] whaught commented on #600
well that doesn't sound right. Thanks for the repro .gif - that's very clear

[2020-09-19 20:51] sethvargo commented on #346
/assign

[2020-09-19 20:56] #600 closed

[2020-09-19 20:57] sethvargo commented on #575
@whaught I think this is done?

[2020-09-19 21:49] whaught commented on #575
/close

[2020-09-19 21:49] #575 closed

[2020-09-21 00:27] #536 closed

[2020-09-21 00:27] #582 closed

[2020-09-21 14:52] whaught commented on #517
/close

Closing this for now. It's implemented, but I want to wait for feedback from users on the experience before going further. It uses html5 file reader to do the batching which is nice because we both want to create the user and send the email (the latter happens from the client in JS from firebase) which means we can't process all server-side. Doing it in small chunks prevents a weird fail-i

[2020-09-21 14:52] #517 closed

[2020-09-21 14:57] whaught opened #606 "Delete User if removed from all realms"
### TL;DR
Currently deleting a user removes the current realm from their User entry

**Proposal**
If a user has no realms and has not been modified for ~30 days (configurable), the system should delete their database entry.

The cleanup job should **not** do this in real-time: when the last realm is removed, an admin may be adding them to another one.

**Alternatives considered**
Instead of deleti

[2020-09-21 15:00] whaught opened #607 "Security requirement grace period"
### TL;DR
Instead of Optional/Required 2-FA and email verification, we should have another option to be optional for N days before being required.

**Proposal**
Immediately requiring Multi Factor Auth for login can be burdensome for someone just getting started. Realms may make it optional where it is prompted at the beginning of the session, but can be dismissed. We should create another mode whe

[2020-09-21 15:07] whaught opened #608 "Manage MFA factors"
The user should be able to add more than one auth-factor.

1. Select a factor by display name at login
2. Show enrolled factors in My Settings page
3. Allow un-enrollment of a factor

### Notes
The user should not be able to remove their MFA without first adding a new one or re-confirming the existing one. Or having very-recently logged-in. Firebase enforces this by requiring recent login and may

[2020-09-21 15:09] whaught opened #609 "Password change without reset email"
### TL;DR
Currently password-reset email is the only way to change your password. Logged-in users should be able to change it without re-verifying email.

**Proposal**
Let an authenticated user change their password by confirming the old one and creating a new one.

[2020-09-21 15:12] sethvargo commented on #609
If they have MFA enabled, we should also re-require it before changing the password.

[2020-09-21 15:31] whaught opened #610 "Remove end-user account create/delete"
Identity Platform has toggles to disable account create/delete accounts from the end-user (and only allow from the server SDK). Our system is intended to be invite-only and managed by admins.

After https://github.com/google/exposure-notifications-verification-server/pull/555 is deployed, we should uncheck these boxes on our severs

[2020-09-21 15:52] whaught commented on #606
/kind enhancement

[2020-09-21 15:52] whaught commented on #607
/kind enhancement

[2020-09-21 15:52] whaught commented on #608
/kind enhancement

[2020-09-21 15:52] whaught commented on #609
/kind enhancement

[2020-09-21 16:54] sethvargo commented on #606
I think we should talk about this more in standup/chat. I'm worried about auditing requirements and deleting users.

[2020-09-21 17:02] whaught commented on #606
Sure thing - I think it's worth discussing one way or the other.

[2020-09-21 17:10] mikehelmick commented on #606
re: auditing - are you suggesting we just keep the user records around longer?

the user-stats is the only thing we would possibly lose, but I don't think those are accessible once the user has been removed from the realm already.

[2020-09-21 17:15] sethvargo commented on #606
I'm thinking about the requirements we got from certain states.

[2020-09-21 17:16] mikehelmick commented on #606
Nothing actionable there yet.

[2020-09-21 17:27] jeremyfaller commented on #580
So, after digging into this, here's what I've figured out:

1) All the realm redirection services require lots of per-app data. Eg, iOS requires the appID, android requires the appID and a SHA fingerprint.
2) Configuring this data with command-line options probably won't work (the server would need to be rebooted for each android app update, etc.)

So, unless there's lots of argument, here's what

[2020-09-21 19:29] taddari commented on #577
I have decided to add GCLB https/backend_latencies for alerting
https://cloud.google.com/load-balancing/docs/https/https-logging-monitoring#metric_reporting_frequency_and_retention
We actually don't have p90 aligner, but we have p95 https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.alertPolicies#aligner

@icco What should an ideal p95 alerting threshold? Does 5s sounds all right?

[2020-09-21 19:33] flagxor commented on #580
Have you considered generating a static page with Javascript on it to do the redirect?

[2020-09-21 19:37] icco commented on #577
Let us set it to 2s for 5m. Looking at the past week on our staging server, we're way below that.

![Screen Shot 2020-09-21 at 15 36 47](https://user-images.githubusercontent.com/20201/93812958-5b5a0280-fc20-11ea-92c6-b0deb8d4043f.png)

[2020-09-21 20:52] sethvargo opened #619 "Make an architecture flow diagram"
/assign

[2020-09-21 21:13] mikehelmick opened #620 "Settings refactor - dropped SMS configs"
### TL;DR

With the refactor to realm settings on different pages - SMS configs are being dropped when editing info on other pages.

**Expected behavior**

SMS settings stay

**Observed behavior**

SMS settings dissapear

### Reproduction

1.  Ensure SMS settings are there (Twilio creds)
2.  Go to "codes" setting page - press save (don't need to actually change anything)
3.  navigate back to SMS t

[2020-09-21 22:04] whaught commented on #608
/assign

[2020-09-21 22:06] sethvargo commented on #620
https://github.com/google/exposure-notifications-verification-server/pull/622

[2020-09-21 22:11] #620 closed

[2020-09-22 03:01] #346 closed

[2020-09-22 06:17] yegle commented on #474
I haven't made much progress by just read the code. I'm adding some more debug logging and that should help me understand the bundler behavior better.

[2020-09-22 13:51] sethvargo commented on #432
/assign

[2020-09-22 15:43] whaught opened #629 "Flash not showing on signout"
### TL;DR
We used to wait 3 seconds to redirect from the /signout page. This is enough time to read error flashes - now the flash is displayed and we immediately redirect.

We could consider a way to hang on to the session flash and carry-forward in middleware or bake signout into login to eliminate the redirect

[2020-09-22 15:49] sethvargo commented on #629
If we can move all the auth and signout to server-side, this problem goes away too 😄

[2020-09-22 19:21] #608 closed

[2020-09-22 19:56] icco commented on #619
/assign

[2020-09-22 20:04] #629 closed

[2020-09-22 20:11] whaught commented on #609
/assign

[2020-09-22 22:30] yegle commented on #474
The previous attempt to add debug logging won't work as the OpenCensus Stackdriver exporter uses gRPC instead of HTTP.

Working on binary logging support to gain more insight.

[2020-09-23 00:33] #432 closed

[2020-09-23 02:54] sethvargo commented on #549
@icco are there remaining items here that aren't tracked in other issues?

[2020-09-23 12:22] icco commented on #549
Nope we should be good here. https://github.com/google/exposure-notifications-verification-server/pull/613 and https://github.com/google/exposure-notifications-verification-server/pull/615 we're the last fixes.

/close

[2020-09-23 12:22] #549 closed

[2020-09-23 15:39] taddari commented on #577
Sounds good. Will do that.

[2020-09-23 18:27] mikehelmick opened #649 "nicer telephone widget"
provide a drop down for international telephone input

possibly using: https://github.com/jackocnr/intl-tel-input

code issue is more important, SMS / MFA handling second.

let the realm set a default

/kind enhancement

[2020-09-23 18:52] sethvargo commented on #649
Heh - I was gonna use that exact thing 😄

[2020-09-23 18:52] sethvargo commented on #649
/assign

[2020-09-23 19:21] #609 closed

[2020-09-23 20:04] #577 closed

[2020-09-23 21:23] #572 closed

[2020-09-23 21:35] icco commented on #535
Pretty sure this is a dupe of #474.

/duplicate

[2020-09-23 21:35] #535 closed

[2020-09-23 22:10] whaught commented on #649
Nice! I looked at that widget too for MFA...

[2020-09-23 22:21] sethvargo commented on #649
Did you mean widght? (making fun of Mike)

[2020-09-23 23:01] sethvargo opened #659 "Cannot create alerting policy"
[code]

/cc @femnad @icco

[2020-09-23 23:59] icco commented on #659
/assign @femnad

[2020-09-24 07:44] femnad commented on #659
Addressed by #667

[2020-09-24 13:49] #659 closed

[2020-09-24 13:49] sethvargo commented on #659
Thanks!

[2020-09-24 21:40] icco commented on #460
/kind enhancement

[2020-09-25 15:18] jeremyfaller opened #674 "Normalize config/cfg between all servers."
### TL;DR

During the review on https://github.com/google/exposure-notifications-verification-server/pull/634, @sethvargo pointed out that config/cfg change should be universal across servers. Do that.

[2020-09-25 15:19] jeremyfaller commented on #674
https://github.com/google/exposure-notifications-verification-server/pull/634#discussion_r495004553

[2020-09-25 15:21] icco commented on #619
First pass is the following image which is not great:

![Screen Shot 2020-09-25 at 11 20 18](https://user-images.githubusercontent.com/20201/94284979-1fc18000-ff21-11ea-805f-af2dbfbd9c28.png)

Generated by
[code]

Going to try and make by hand instead.

[2020-09-25 17:13] #674 closed

[2020-09-25 17:48] whaught commented on #610
Done!

/close

[2020-09-25 17:48] #610 closed

[2020-09-26 16:26] #580 closed

[2020-09-28 15:02] sethvargo opened #691 "Mobile app names should be unique by realm_id by platform"
Currently mobile app names have to be globally unique within the realm, but it's feasible to have an app with the same name on iOS and Android. We should update the restriction to be on realm_id **and** platform.

/assign

[2020-09-28 15:45] whaught commented on #649
/reopen
/assign

[2020-09-28 15:46] whaught commented on #649
Reopening. I'm going to try to apply the same to the MFA registration UI

[2020-09-28 15:52] sethvargo commented on #649
Ah - I totally missed the "SMS/MFA is second" part.

[2020-09-28 16:33] mikehelmick opened #693 "Use an actual ISO region/subregion list to validate region codes"
Currently, we just do pattern validation (2-3)

It would be good to validate these against an actual list.

/kind enhancement

[2020-09-28 18:53] mikehelmick opened #697 "Let system admins add themselves as a realm admin"
### TL;DR

In order to facilitate support, allow a system admin to add them selves as a realm admin to an existing realm.

### Design

**Proposal**

This would be done from the current admin -> realms pages

/kind enhancement

[2020-09-28 18:58] mikehelmick opened #698 "Audit trail of user add / remove"
Provide an audit trail of user account add/remove to a realm.

A realm admin should be able to when users were added to a realm.

The record of the user being in a realm can go away after 30d (cleanup period).

The cleanup jobs will need to be updated as well for this.

/kind enhancement

[2020-09-28 20:34] sethvargo commented on #697
/assign

[2020-09-28 20:53] sethvargo commented on #693
I'm -1 on this. As far as I can tell, the downside of someone putting in an invalid ISO code is that ENX redirects won't work. I think the toil and maintenance burden of curating and maintaining such a list exceeds value we get by adding such strict validation.

[2020-09-28 21:53] mikehelmick commented on #693
that's fine - this hasn't in practice been an issue yet. ENX won't work if there is a mismatch and the actual config MUST be a valid ISO before it will be accepted by apple+google.

[2020-09-28 22:21] #649 closed

[2020-09-28 22:54] sethvargo commented on #691
https://github.com/google/exposure-notifications-verification-server/pull/701

[2020-09-28 22:54] #691 closed

[2020-09-28 23:01] mikehelmick commented on #693
I'm actually going to remove the validation and require not empty
This is breaking too many things in test

[2020-09-28 23:18] sethvargo commented on #693
😄

[2020-09-29 00:21] yegle commented on #474
After tweaking the source code and adding a lot more logging statement, I think I finally figure out why...

TLDR: we misused the stackdriver exporter and double-registered it to export metrics, causing the same data to be exported multiple times, and got throttled by Cloud Monitoring API.

The correct way to start the exporter, per the example, is to call the `StartMetricsExporter` method: https:

[2020-09-29 06:37] yegle opened #706 "Migrate from OpenCensus to OpenTelemetry"
### TL;DR
OpenCensus and OpenTracing has been merged into OpenTelemetry. The new project only promises 2 years of security fixes and we should not expect feature improvement in the OpenCensus libraries.

### Design

**Proposal**
Looking into OpenTelemetry, investigate the backward compatible layer from OpenTelemetry, and migrate to OpenTelemetry.

[2020-09-29 06:40] yegle commented on #706
Related bug: https://github.com/open-telemetry/opentelemetry-go/issues/93

[2020-09-29 15:20] icco commented on #619
![diagram](https://user-images.githubusercontent.com/20201/94578521-d4231500-0245-11eb-9c61-a5951ffa5ae2.png)

[2020-09-29 16:54] sethvargo commented on #619
💄
:shipit:

[2020-09-29 18:29] mikehelmick commented on #693
/close

[2020-09-29 18:29] #693 closed

[2020-09-29 19:07] sethvargo opened #711 "SMS selector is not full width"
This is likely the CSS of the plugin, but it's really obvious on the MFA page:

<img width="449" alt="screenshot-20200929-150624@2x" src="https://user-images.githubusercontent.com/408570/94604258-68e93b00-0265-11eb-90b4-8d4a9778f17c.png">

The height/padding is also slightly off.

[2020-09-29 19:07] sethvargo commented on #711
/cc @whaught

[2020-09-29 19:13] whaught commented on #711
I noticed that. The plugin seems to apply its own style and I wasn't sure how to stop that. Alternatively we could make the display name box match its style for consistency

[2020-09-29 19:17] sethvargo commented on #711
It's the same on the code issue page, just less obvious. I think we need to drop in some `!important`s

[2020-09-29 19:18] #619 closed

[2020-09-29 21:00] #711 closed

[2020-09-30 02:27] whaught commented on #607
/assign @whaught

[2020-09-30 13:11] sethvargo opened #716 "Add metrics to cleanup jobs"
Publish metrics for all things in the cleanup job including users, audits, etc.

Refs: https://github.com/google/exposure-notifications-verification-server/pull/705#discussion_r497483365

[2020-09-30 14:57] #697 closed

[2020-09-30 14:57] #698 closed

[2020-09-30 16:23] sethvargo commented on #716
@icco metrics are in. Gonna repurpose this issue to be about dashboarding/alert.

[2020-09-30 16:42] icco commented on #716
Sweet. Don't think we need an alert, just a dashboard graph.

[2020-09-30 17:27] icco commented on #474
This is fixed!

[2020-09-30 17:27] #474 closed

[2020-09-30 21:51] yegle commented on #535
Confirmed the missing metric is now in Metrics Explorer!

[2020-10-01 14:01] sethvargo opened #726 "Trim space on MFA code before checking"
I tend to copy-paste. Sometimes there's leading/trailing whitespace. We should trim.

/assign @whaught

[2020-10-01 16:43] #726 closed

[2020-10-02 00:10] sethvargo opened #735 "Add page to see current realm quotas"
At present, the only way to see the current remaining quota for a realm for the day is to go to Redis. It would be nice to have a page where realm admins (or at least system admins) could see the currently-available quota.

[2020-10-02 17:51] georules opened #740 "Select new password - onblur not triggering reevaluate"
### TL;DR
Onblur not triggering reevaluate when using mouse right click paste.  This happens from users using password generators and copy-pasting.

**Expected behavior**
Users expect set password button to become active & password validation to be reevaluated on all changes to password field

**Observed behavior**
Onblur not triggering reevaluate when using mouse right click paste

### Reproducti

[2020-10-02 18:13] whaught commented on #740
Oops sorry @jeremyfaller - this is done
https://github.com/google/exposure-notifications-verification-server/pull/741

/close

[2020-10-02 18:13] #740 closed

[2020-10-02 19:00] #735 closed

[2020-10-05 22:22] whaught commented on #607
/close

[2020-10-05 22:22] #607 closed

[2020-10-06 06:42] MagicTmn opened #752 "Find out the location by IMEI"
### Question

[2020-10-06 07:26] MagicTmn commented on #474
[code]

[2020-10-06 13:47] #752 closed

[2020-10-06 14:33] grpandurangipwc opened #754 "Terrafor Quick Setup does not set FIREBASE_TERMS_OF_SERVICE_URL"
### TL;DR

Firebase: TermsOfServiceURL: missing required value: FIREBASE_TERMS_OF_SERVICE_URL

**Expected behavior**

In case of "Production setup", we are adding specifying a block for service_environment in module.
Expected the resources gets created. However got error.

**Observed behavior**

### Reproduction

1.  Went to ...
2.  Ran ...
3.  Clicked on ...

**Screenshots**

**Environment**

- O

[2020-10-06 15:23] #754 closed

[2020-10-06 21:43] yegle opened #760 "Metrics used in dashboards should be declared in the Terraform config"
Up until now all of our metrics are automatically created when we first export a data point for that metric, by the Stackdriver exporter.

This leads to multiple cases when:
1. we use a new metric in the dashboards
2. the metric is exported by a new version of a Cloud Run service
3. `terraform apply` the config failed to create the dashboard, preventing the Cloud Run service to be deployed.

Addin

[2020-10-06 21:59] yegle commented on #760
https://www.terraform.io/docs/providers/google/r/monitoring_metric_descriptor.html for reference.

[2020-10-07 06:22] grpandurangipwc opened #768 "Unable to delete the DB due lifecycle destroy param in production setup"
### TL;DR

Unable to delete the DB due to prevent_destroy parameter has been set has true in production setup

[code]

### Design

**Proposal**

[code]

**Alternatives considered**

**Resources**
- [Link to documentation](TODO)
Manually delete the SQL

**Additional information**

[2020-10-07 15:25] #768 closed

[2020-10-07 15:46] sethvargo commented on #768
We've had to revert this change. Terraform does not support configuring prevent_destroy via a variable.

[2020-10-07 16:47] yegle opened #773 "Deduplicate metrics"
In many (all?) places, we are using two separate metrics to count failed/successful states. E.g. we have `code_issued_count` and `code_issue_error_count` [here](https://github.com/google/exposure-notifications-verification-server/blob/44a426a524442aedc164f3f2a7df809adb55c3cf/pkg/controller/issueapi/metrics.go#L60-L72).

Having two metrics makes it impossible to calculate an error ratio which is a

[2020-10-08 01:00] mikehelmick opened #779 "enx-redreict"
incorrect app ownership shown in .well-known/assetlinks.json

if none is set, something is still present.

/kind bug
/assign

[2020-10-08 03:18] #779 closed

[2020-10-08 05:36] #232 closed

[2020-10-08 14:41] icco commented on #38
#716  for the cleanup job.

[2020-10-08 14:41] #38 closed

[2020-10-08 14:55] icco commented on #416
This is fixed!

[2020-10-08 14:55] #416 closed

[2020-10-08 14:55] icco commented on #416
Oh we decided not to do logs because we don't want to be able to understand users that well.

[2020-10-08 14:55] icco commented on #760
/kind bug

[2020-10-08 16:24] whaught opened #787 "Allow realms to integrate with an SMTP server"
### TL;DR
Currently we use the default firebase email flow for password reset.
If we wish to use email for a 2nd factor, controler/eliminate rate-limiting concerns, and customize invitations, we need to be able to send our own emails.

### Design

**Proposal**

1. Use the golang SMTP package to send email from a custom template
2. Include a realm setting for integrating with an email server creden

[2020-10-08 16:37] yegle opened #788 "Export metrics from e2e-runner service and set up alert"
The e2e-runner has been broken silently for a while and it was noticed today.

We should export metrics from this service and set up alert based on the metrics.

It should at least include:

- e2e run result (success/fail)
- latency of each steps

[2020-10-08 18:12] #760 closed

[2020-10-08 19:26] jendakol opened #791 "Token for further publishing"
### Question
In [the keys publishingdiagram](https://camo.githubusercontent.com/3cc17140e3236f29d0216e40624bebc9779ea962/68747470733a2f2f646576656c6f706572732e676f6f676c652e636f6d2f616e64726f69642f6578706f737572652d6e6f74696669636174696f6e732f696d616765732f766572696669636174696f6e2d666c6f772e737667) and also in [Publishing keys description](https://google.github.io/exposure-notifications-server/ge

[2020-10-08 19:46] sethvargo commented on #791
Hi @jendakol

This is currently under active design review and we hope to have something more concrete shortly. /cc @jeremyfaller

[2020-10-08 19:48] jendakol commented on #791
Oh. So the advice, for now, is to go through the whole process including VC verification, with this may be optimized in near future?

[2020-10-08 19:58] sethvargo commented on #791
Hi @jendakol

The _revisionToken_ is different than future key upload. The _revisionToken_ is for when symptoms change (not all states/countries support changing symptoms). Some areas allow self-reporting (e.g. "I feel sick"), which would trigger a key upload. Then, a few days later, the person goes to a doctor and tests positive. The _revisionToken_ revises (changes) the risk score of the previou

[2020-10-08 20:08] jendakol commented on #791
"Not implemented" explains a lot :smile:

Let me explain my scenario - I need to publish many keys to the Key server, but it's configured to accept only 30 keys (default value) at once. So I need to split them by 30 and send them in batches. And obviously, even though I am able to get myself a new VC and verify it, I don't want to do it because it _seems unnecessary_ for me.
But from what you say,

[2020-10-08 20:26] sethvargo commented on #791
30 keys feels like a lot - what is your RPI? /cc @mikehelmick

[2020-10-08 20:34] mikehelmick commented on #791
In a production environment, one should never have more than 30 keys over a 14 day period, even that number is arrived at by maximizing all assumptions.

If in test scenarios you are having more keys, I recommend wiping the TEKs from the device every couple of days.

The token for further publishing is intended for uploading on successive days after the initial upload.

[2020-10-08 20:56] jendakol commented on #791
I'm publishing those keys from out backend - I'm working on an integration of EFGS, so these keys are downloaded keys from other countries and there can easily be quite a lot of them.
BTW we're having some EFGS related call with people from Google tomorrow, is that with you? :-)

[2020-10-08 21:01] mikehelmick commented on #791
Using verification + the publish API is not the correct mechanism for EFGS integration.

Yes - I will be on the call tomorrow. Going to
/close
this issue for now.

[2020-10-08 21:01] #791 closed

[2020-10-08 21:16] jendakol commented on #791
Well, it's definitely not the _ideal_ way how to it but we needed to do that from "outside", without modification of the Key server. But let's keep details for the call tomorrow.

And, BTW, thanks for your lightning reactions here :-)

[2020-10-12 18:32] mikehelmick opened #799 "user-issue statistics"
Currently there are statistics per realm and statistics per user (if you navigate to the user)

Request:
Show codes issued by user - possibly over time, possibly per day.

/kind enhancement

[2020-10-12 18:34] mikehelmick commented on #799
/assign @jeremyfaller

[2020-10-12 20:32] sethvargo commented on #799
Across all realms or for a specific realm? How is this different from the existing user stats?

[2020-10-12 23:55] mikehelmick commented on #799
Within a specific realm.

For example - if a realm issues 20 codes on a day, being able to identify which user's issued how many codes.

No specific codes that were issued.

[2020-10-13 00:14] mikehelmick opened #805 "user listing pagination error"
### TL;DR

Noticed - if there are 3 pages of users, the buttons show `previous, 1, 2 , next`

![image](https://user-images.githubusercontent.com/92319/95801078-115bbe00-0cae-11eb-8792-8914c7539081.png)

The 3rd (last) page can only be reached by clicking `2` and then clicking `next`.

Page 1 (0-25 of 56)

![image](https://user-images.githubusercontent.com/92319/95801115-305a5000-0cae-11eb-964d-d25

[2020-10-13 00:19] mikehelmick commented on #805
/assign @whaught

[2020-10-13 02:26] yegle opened #810 "Convert our alerts to MQL"
There are certain alerts that we want to have cannot be created from the UI. E.g. we want to have an alert on realm token capacity like this:

[code]

This depends on upstream bug https://github.com/hashicorp/terraform-provider-google/issues/7464

[2020-10-14 02:43] mikehelmick opened #816 "nil pointer on check code stats"
### TL;DR

Seems like a new bug. It should be getting the authAppName since I'm coming in through the UI.

[code]

[2020-10-14 02:48] whaught commented on #816
/assign

[2020-10-14 03:32] #816 closed

[2020-10-14 17:14] sethvargo opened #818 "Cannot deploy e2e-runner"
The e2e-runner in prod fails to deploy with:

[code]

This is an intermittent failure, but blocks deployment.

/cc @chaodaiG

[2020-10-14 17:17] jeremyfaller opened #819 "Issuing codes might report the wrong date in `user_stats`."
### TL;DR

If you issue a code, the `realm_stats` table in the database might record an incorrect date. See attached screen shot:

![image](https://user-images.githubusercontent.com/3063869/96022843-800c5900-0e1f-11eb-8d74-57894749f173.png)

**Expected behavior**

I expect all the dates to line up

**Observed behavior**

See screenshot

### Reproduction

1.  create new db, start server
2.  issue a

[2020-10-14 17:20] jeremyfaller opened #820 "Seeding the database fails during MobileApp seeding."
### TL;DR

If you create a new DB and try to seed it, the seeding program fails trying to seed the MobileApp data.

**Expected behavior**

Seed to succeed.

**Observed behavior**

Seeding crashes.

### Reproduction

1.  New database, run seed, watch failure.
2.  Question existence.

[2020-10-14 17:24] sethvargo opened #821 "Let admins clear caches via the UI"
Redis is only accessible via a bastion host on the VPC, so clearing the cache is painful. While it should be unnecessary, let's add some buttons for system admins to clear caches.

[2020-10-14 17:26] sethvargo commented on #821
/assign

[2020-10-14 17:40] sethvargo commented on #820
/assign

[2020-10-14 18:14] #820 closed

[2020-10-14 18:16] icco opened #824 "Documentation for alerts"
We need docs.

[2020-10-14 18:35] chaodaiG commented on #818
There are two DB columns that have this constraint: `RealmID ` and `Name`. Since `Name` is generated by [crypto/rand](https://github.com/google/exposure-notifications-verification-server/blob/c47a42cf4b63d530b9637e1991c616e98bcdbe15/cmd/e2e-runner/main.go#L120) it's highly unlikely innocent based on how often the problem appeared

Link: https://github.com/google/exposure-notifications-verification

[2020-10-14 18:36] mikehelmick opened #826 "ENX redirect - .well-known not domain specific"
### TL;DR

https://us-moo.en.express/.well-known/assetlinks.json

shows all configured android apps on the server and ignores the us-moo portion.

**Expected behavior**

just show us-moo

/assign @jeremyfaller

[2020-10-14 18:49] chaodaiG commented on #818
I can take a stab fixing this later today, if my hypothesis is correct

[2020-10-14 18:50] mikehelmick opened #827 "bounce not working"
### TL;DR

 ENX bounce not working

/assign @jeremyfaller

[2020-10-14 20:23] jeremyfaller opened #830 "Race while executing unit tests"
### TL;DR

https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/google_exposure-notifications-verification-server/828/pull-en-server-release-unit/1316470598217502723

@whaught has seen this before. retesting fixes it, but we should fix it regardless.

[2020-10-14 20:54] jeremyfaller commented on #830
Repros with:

`go test -run TestIssueToken -race -count=10 -v ./pkg/database/`

[2020-10-14 21:03] jeremyfaller commented on #799
#828 doesn't completely fix this issue. Mike has a few more requests. Specfically:

<quote>
In the table view of the stats - make the date clickable and then show who issued how many codes on that day
can you get that in, and then we can run it by the states that asked about this?
</quote>

[2020-10-14 22:00] sethvargo commented on #830
Oh you got a local repro? Dope!

[2020-10-14 23:59] chaodaiG commented on #818
The hypothesis above was incorrect, the collision was still on `Name`. It's likely due to the fact that the random suffix was created with an int below 10000, and without cleanup the chance of collision increase over time

[2020-10-15 00:02] #818 closed

[2020-10-15 02:11] sethvargo commented on #830
Oh - this is the gorm race. I spent a ton of time trying to track this down and didn't get anywhere. The panic seems to happen outside our code.

[code]

also succeeded for me 😦

[2020-10-15 14:11] #821 closed

[2020-10-15 14:40] jeremyfaller commented on #830
Seems related to observability. Here's more detailed logs:

[2020-10-15 10:28:59] [info] registering callback `sms_configs:encrypt` from /Users/jfaller/src/exposure-notifications-verification-server/pkg/database/database.go:191

[2020-10-15 10:28:59] [info] registering callback `sms_configs:decrypt` from /Users/jfaller/src/exposure-notifications-verification-server/pkg/database/database.go:192

[2

[2020-10-15 15:52] #830 closed

[2020-10-15 15:52] mikehelmick commented on #826
/close

this is working, the right version wasn't deployed in that environment

[2020-10-15 16:20] mikehelmick opened #837 "Document ENX redirector (for developers and system admins)"
### TL;DR

Document the ENX redirect service and it's configuration

/kind enhancement

[2020-10-15 16:20] mikehelmick opened #838 "Document ENX redirector (for realm admins)"
### TL;DR

Add docs for realm admins for configuring ENX redirect.

/kind enhancement

[2020-10-15 18:26] #799 closed

[2020-10-16 00:40] mikehelmick opened #842 "MobileApp - AppStoreURL should be optional"
### TL;DR

This should be optional, in case the PHA doesn't want to redirect when not installed.

[2020-10-16 00:46] mikehelmick commented on #842
/assign

[2020-10-16 01:00] #842 closed

[2020-10-16 03:06] flagxor opened #844 "Redirector App Store URLs for iOS don't allow post App Store triggering"
Currently, redirector links don't allow an iOS app to use the trick described here:
https://firebase.google.com/docs/dynamic-links/operating-system-integrations

A landing page which contains JavaScript that stashes query parameters in the clipboard could be used to facilitate post-install continuation of a state specific app.
This might be desirable for a custom app using the verification server.

[2020-10-16 15:44] jeremyfaller commented on #819
/assign

Gonna take a look at this, I think I have an idea what it is.

[2020-10-16 17:33] #819 closed

[2020-10-16 18:01] jeremyfaller opened #848 "Audit all uses of `time.Truncate` in this codebase"
### TL;DR
https://github.com/google/exposure-notifications-verification-server/issues/819

The above issue was found with stats, and Truncate is called throughout the codebase. Audit uses Truncate usage, and make sure we're doing the right thing.

[2020-10-16 18:36] flagxor commented on #827
Fixed in:
https://github.com/google/exposure-notifications-verification-server/pull/845

[2020-10-16 18:36] #827 closed

[2020-10-19 17:59] #848 closed

[2020-10-19 21:22] sethvargo opened #857 "Update to gorm v2"
### TL;DR
We're currently using [gorm v1](https://v1.gorm.io/). The latest is [gorm v2(https://gorm.io/), but there are pretty [substantial changes](https://gorm.io/docs/v2_release_note.html).

This issue attempts to highlight the changes we'd need to make in order to migrate to v2.

### Design

**Proposal**

1. Update all imports:

[code]

1. Update [gomigrate to v2](https://github.com/golang-mig

[2020-10-19 21:24] sethvargo commented on #857
I timeboxed 30min to explore the upgrade and here's what I got: https://github.com/google/exposure-notifications-verification-server/pull/858

The biggest challenges are definitely going to be around data migrations and field type changes.

/cc @jeremyfaller @mikehelmick

[2020-10-20 15:00] #787 closed

[2020-10-21 14:02] jeremyfaller opened #864 "Set up cron job to backup database"
After we had the issues upgrading encv-test on Oct 20, we realized we do not have a backup of the database if the instance is deleted. We need a better system in place should the worst happen.

Related to post-mortem 171305680

[2020-10-21 14:04] jeremyfaller opened #865 "Improve documentation on Deploying.md"
During the outage on Oct 20, we should have a better checklist for deploying. It should be clear that deviations aren't supported.

Documented in post-mortem: 171305680

[2020-10-21 14:06] jeremyfaller opened #866 "Modify IAM permissions so that prevention of deletion is default"
Some discussion in the post-mortem 171305680 identified that we should modify our IAM permissions. @sethvargo doesn't think this is feasible.

[2020-10-21 14:08] jeremyfaller opened #867 "Enable bucket versioning for Terraform state"
In the post-mortem 171305680, we identified that we should keep a ring-buffer of previous Terraform states. @sethvargo suggested 10, and he might have implemented this already. Check with him before grabbing this bug.

[2020-10-21 14:09] jeremyfaller opened #868 "Fire an alert when a project is being terminated"
In the post-mortem 171305680, we identified that we should be firing an alert when a project's being terminated.

[2020-10-21 14:10] jeremyfaller opened #869 "Backup secret values for quick recovery"
During the post-mortem 171305680, we identified that we should have a backup in place of our secrets to make it easier to restart if a problem occurs. An automated system is preferred.

[2020-10-21 15:01] sethvargo commented on #866
Can confirm - I don't think this is feasible or a good ROI. I'd rather invest in making our scripts smarter.

[2020-10-21 15:13] jeremyfaller commented on #867
closing.

[2020-10-21 15:13] #867 closed

[2020-10-21 15:13] #869 closed

[2020-10-21 15:16] jeremyfaller opened #871 "Improve charts on realm stats"
Mike sent me some feedback on the realm stats yesterday. Specifically:

- It's not clear that clicking a modifys/selects a user in the per-realm stats
- It would be nice to see per-user-per-day stats numbers, possibly in the chart.
- possibly replace the overall line graph on a row click.
- Also, mike suggested reversing the order of the days.

I'm going to tweak the charts, and improve them.

[2020-10-21 15:21] jeremyfaller opened #872 "Redirect links are broken in prod"
From chat with @mikehelmick:

CC: @flagxor

[2020-10-21 15:23] jeremyfaller commented on #872
More edits, from mike:

[2020-10-21 15:27] jeremyfaller commented on #872
This is WAI.

`curl -H "User-Agent: iphone" "https://us-dc.en.express/v?c=CODE"`

seems to redirect ok.

[2020-10-21 15:27] #872 closed

[2020-10-21 15:35] bschlaman opened #873 "Looping redirect on fresh bootstrapped project"
### TL;DR
After provisioning ENVS for the first time using the "production" setup, logging in with the default user "super@example.com" results in looping redirects through several endpoints.

@whaught

**Expected behavior**
Successful login

**Observed behavior**
Seemed to get 303 redirected through these endpoints until hitting rate limits (somewhere around 100 requests):
/admin
/login/manage-ac

[2020-10-21 15:37] bschlaman commented on #873
Should also mention I'm not using a load balancer or custom domain

[2020-10-21 15:39] sethvargo commented on #873
Can you share the logs (either copy-paste or screenshot) from around that time? If you can enable debug logs (set `LOG_DEBUG=true` as an envvar on the service) and run again, that'd be super helpful.

[2020-10-21 16:12] whaught commented on #873
Sorry not sure if I closed this prematurely. Could you try redeploying with #874 and verify that the scenario succeeds?

[2020-10-21 16:17] #864 closed

[2020-10-21 18:57] sethvargo commented on #866
We talked about this in the group sync today and decided not to do it. We're going to invest in better script intelligence instead.

[2020-10-21 18:57] #866 closed

[2020-10-21 18:57] sethvargo commented on #857
We talked about this in the group chat today and decided to carry on with gorm v1.

[2020-10-21 18:57] #857 closed

[2020-10-21 18:58] #865 closed

[2020-10-21 18:59] sethvargo commented on #716
/close

this is done

[2020-10-21 18:59] #716 closed

[2020-10-21 19:00] sethvargo commented on #773
@yegle I know you've done a lot of work on this - are there specific remaining items you'd like to finish before closing this out?

[2020-10-21 19:31] yegle commented on #773
Yes I want to use the new metrics in the alert policies. One of the blocking issue is Terraform lack support to define alert using MQL.

I'll do a review and close this, then track defining alerts using MQL in a separate issue.

[2020-10-21 22:26] bschlaman commented on #873
Yes - done.  The problem is still there, but I think I found the issue.

[2020-10-21 22:29] bschlaman commented on #873
The problem is occurring because an admin is logging in without having verified the email, and with 0 realms present yet.  Here is the redirect flow:

POST /session
GET /login/select-realm (this first GET is from the login js script)
Redirect to “/admin”
 - First: requireVerified
Redirect to “/login/manage-account?mode=verifyEmail”
 - First: processFirewall -> controller.MissingRealm(w, r, h)
GET

[2020-10-22 01:56] mikehelmick opened #882 "Store and return testDate on verify code API"
### TL;DR

Mobile apps would like to differentiate between testDate and symptomDate for purposes of prompting the user.

Currently this is collapsed to a single date that is stored and transported through the verify response, verification token, and verification certificate.

### Design

**Proposal**

1) add `TestDate` to the verification code struct
2) store this in the DB
3) when the verificaito

[2020-10-22 01:58] mikehelmick commented on #882
/assign

[2020-10-22 15:47] jeremyfaller opened #885 "Update release documentation to require rollouts either soon after a backup, or to start by backing up."
During the post-mortem discussion, we identified an issue that updates should occur after backups. A process should be developed here.

[2020-10-22 15:49] jeremyfaller opened #886 "Develop playbook, or document process for recovery of secrets from Terraform"
During the post-mortem, we determined that we should at least document what we did to recover the secrets from Terraform.

Assigning to seth, because only he knows the magic.

[2020-10-22 17:26] #873 closed

[2020-10-22 17:29] whaught commented on #873
I ran through the scenario with an unverified super user - the scenario should be good to go!

[2020-10-22 17:43] sethvargo commented on #886
Added to on-call log.

[2020-10-22 17:43] #886 closed

[2020-10-22 19:08] #885 closed

[2020-10-22 19:47] #882 closed

[2020-10-22 22:18] bschlaman commented on #873
Works for me too!  Obviously one can't verify the "super@example.com" email address, so might be good to update the production.md bootstrapping instructions.  I'll raise a PR if I get a chance.

[2020-10-22 23:15] sethvargo commented on #873
We _can_ verify that email. We do it in `tools/seed/main.go`.

[2020-10-23 15:38] bschlaman commented on #873
Ah cool - didn't see that tool.  Thanks!

[2020-10-26 18:09] icco opened #895 "Disable access on run.app urls"
If you run on Google Cloud Run behind a GCLB, the run.app urls which are generated still exist. We should make an option that blocks requests that didn't come through an LB if we're behind a GCLB. It should default to off.

[2020-10-26 22:14] yegle commented on #868
This is a bit vague (what counts towards project termination?). Also, if we want alert for this event, and since the alert is part of a project, we are essentially trying to say "set up an alert and fire when alerts are deleted" :-(

Any thoughts?

[2020-10-27 01:51] sethvargo opened #901 "Switch to text/template for emails"
### TL;DR
`html/template` is escaping URLs. Marking them as safe still applies some escaping.

**Expected behavior**
`template.URL` treats a URL like a URL. `template.HTML` does no escaping as documented.

**Observed behavior**
`template.URL` and `template.HTML` change the URL into an unusable format.

**Screenshots**
<img width="759" alt="screenshot-20201026-213059@2x" src="https://user-images.gi

[2020-10-27 01:52] sethvargo commented on #901
/cc @jeremyfaller

If you have some cycles to put together a small repro, I think the Go team should know about this. At the very least, much of the docs on `html/template` seem to be inaccurate (e.g. `template.HTML` says "no escaping will be done", but escaping is definitely being done).

[2020-10-27 15:28] mikehelmick opened #905 "Add API Keys to cleanup job"
### TL;DR

Our e2e test runner has created hundreds of API keys

API Keys should be deleted ~30 days after they have been disabled.

We may want to also consider a metric for only keeping the most recent X API keys of each type (50?)

These are outsized things that should only occur in tests

/kind enhancement

[2020-10-27 15:29] icco opened #906 "Build tag missing from some metrics"
### TL;DR
All metrics should have a label with the build version, it seems to have disappeared in some cases. Let's find out why.

**Expected behavior**

A label for build_id and build_version on all metrics.

**Observed behavior**

Both labels were missing in the /rate_limited.* metrics

[2020-10-27 15:34] sethvargo commented on #906
I think this might have happened during the metrics refactor @yegle was working on?

[2020-10-27 15:34] sethvargo commented on #905
/assign

[2020-10-27 16:11] yegle commented on #906
#907 should also fix this issue.

[2020-10-27 17:13] sethvargo commented on #905
30 days feels like a long time. You would know pretty quickly if you deleted an API key that was still in use. https://github.com/google/exposure-notifications-verification-server/pull/909 uses a week.

[2020-10-27 17:14] sethvargo commented on #905
I personally don't think we need an alert or limit on the number of API keys.

[2020-10-27 17:29] mikehelmick commented on #905
My reasoning for 30d - an API key may be already embedded in a live application and if accidentally disabled, I wanted to give longer time for re-activating before the app has an unrecoverable outage.

[2020-10-27 17:44] sethvargo commented on #905
Sure, but do you think it would take 30 days to make that determination? That feels like a really long time to not be aware of an outage.

It's not a hill upon which I plan to die. We can make it 30 days, but that feels too long to me.

[2020-10-27 17:50] mikehelmick commented on #905
Talked on chat, we'll make the default 14d

[2020-10-27 17:53] mikehelmick opened #910 "System admin - view mobile apps"
### TL;DR

For coordinating EN Express (ENX) and understanding what should be happening with the ENX redirect service:

* Surface configured mobile apps to system admins

/kind enhancement

[2020-10-27 18:14] jeremyfaller commented on #901
Dunno if this is a doc, or code problem. If code, it might be a relatively serious regression. I'll take a look ASAP as the code freeze is coming.

[2020-10-27 18:19] whaught commented on #901
/close

This is done. The escaping issue was actually the content-type header of the email (golang unescape does work)

[2020-10-27 18:19] #901 closed

[2020-10-27 18:28] sethvargo commented on #910
Broken down by realm or just a total list?

[2020-10-27 18:28] #905 closed

[2020-10-27 18:28] yegle opened #912 "Container seem to exit ~immediately when SIGTERM is received"
I've noticed we have several "failed to export metric" log lines, usually associate with server shutdown.

![image](https://user-images.githubusercontent.com/146133/97345089-e2fde700-1846-11eb-80d8-e3f63a07089c.png)

Per the Cloud Run container contract (https://cloud.google.com/run/docs/reference/container-contract#instance-shutdown) when killing a container a `SIGTERM` is sent first, and `SIGKIL

[2020-10-27 18:39] mikehelmick commented on #910
Both views would be awesome

1) when viewing an individual realm, show this

2) view a list of all mobile apps configured in the system

[2020-10-27 18:57] sethvargo commented on #912
We use https://github.com/sethvargo/go-signalcontext which cancels the propagated context throughout when getting `SIGTERM` or `SIGINT`. My guess is that the context given to the metrics exporter is also being closed?

[2020-10-27 22:06] yegle commented on #912
It's using a shared context here: https://github.com/google/exposure-notifications-server/blob/1fbede9cb885d0e4f4d88f836f8ed08311c6fa3d/pkg/observability/stackdriver.go#L49

So what should happen is:
1. Have a separate ctx for metric exporting, so that it won't be canceled by the signal context library.
2. Upon receiving `SIGTERM`, cancel other contexts, call `observability.Exporter.Close()` in a

[2020-10-27 22:34] sethvargo commented on #912
@yegle the signal context library is very small. It creates a cancellable context:

[code]

And then calls `cancel()` when the signal is received. It's also [in the standard library now](https://github.com/golang/go/commit/b6dbaef68fdbb3f14387e4c32a8890144220f54e) but hasn't yet been released.

I think:

1. Create a new `metricsCtx` for the metrics exporter.

2. Trap parent context's cancellation:

[2020-10-28 16:48] mikehelmick opened #916 "implement stats export"
### TL;DR

Implement the ability to export CSV versions of export of the codes issued / codes claimed.

/kind enhancement
/assign @jeremyfaller

[2020-10-28 16:57] jeremyfaller commented on #916
thanks.

[2020-10-29 14:32] yuriatgoogle opened #926 "Add observability and audit logging when burst capacity is added."
### TL;DR
Add a log entry when adding burst capacity through the admin UI.

[2020-10-29 14:56] icco commented on #926
/kind enhancement

[2020-10-29 15:02] #773 closed

[2020-10-29 15:02] #906 closed

[2020-10-29 15:36] mikehelmick commented on #926
audit log entry?

[2020-10-29 15:43] sethvargo commented on #926
We should probably have an audit log entry too, but this looks specific about observability.

[2020-10-29 16:10] yuriatgoogle commented on #926
Should be both, I suppose.

*Yuri Grinshteyn*

Customer Reliability Engineering

thegrinch@google.com

On Thu, Oct 29, 2020 at 8:43 AM Seth Vargo <notifications@github.com> wrote:

[2020-10-29 16:11] sethvargo opened #928 "Mobile apps are not scoped to the realm"
### TL;DR
Any authenticated realm admin can view and edit mobile apps, even outside of their realm.

**Expected behavior**
Only edit mobile apps inside their realm.

**Observed behavior**
Could edit outside realm.

[2020-10-29 16:44] #928 closed

[2020-10-29 17:38] mikehelmick opened #933 "Use super trim"
Move the trim function from
  https://github.com/google/exposure-notifications-verification-server/pull/931

Into a common location

use this instead of the standard strings.TrimSpace

/kind enhancement

[2020-10-29 18:04] sethvargo commented on #933
We may want to consider inverting the logic to an _allowed_ list of characters. There are many non-printable unicode characters and other printable unicode characters that we wouldn't want to allow. 👍 is valid unicode, but it's not valid in a certificate.

[2020-10-29 18:35] #916 closed

[2020-10-29 20:34] #912 closed

[2020-10-30 23:48] mikehelmick opened #945 "Change default container user"
### TL;DR

Change the default user in the runtime containers to be non-root

In the default runtime environment (Cloud Run) this is a nice to to have, but should be done in case others are running these containers elsewhere.

/kind enhancement

[2020-10-31 23:15] jendakol opened #946 "Better logging"
Hello,
we are one of the users of the referential Verification (and Key) server. We're quite often facing problems that our users are unable to send us their keys and, reciprocally, we're unable to help him because we don't see almost anything useful in logs.

Imagine a case: user enters a verification code that was issued for him a few minutes ago and the upload fails, seeing "invalid code" messa

[2020-11-01 00:33] sethvargo commented on #946
Are you running with debug logs on? Debug logging is off by default. You can enable it with  `LOG_DEBUG=true`.

Due to the privacy-preserving nature of the system, I don't think we want to enable that level of tracing.

[2020-11-01 23:09] jendakol commented on #946
Yes, we tried to enable debug logging but nothing was changed in our specific case. I spent 2 hours reading the code yesterday and there is no verify-related logging there...

What kind/level of tracing is out of the discussion for you?

[2020-11-02 15:12] jeremyfaller commented on #871
/close

[2020-11-02 15:12] #871 closed

[2020-11-02 16:27] whaught commented on #933
/assign

[2020-11-02 16:28] whaught commented on #910
/assign

[2020-11-02 17:21] yegle commented on #788
Fixed by #893

[2020-11-02 17:21] #788 closed

[2020-11-02 17:46] #945 closed

[2020-11-02 18:34] #933 closed

[2020-11-02 19:27] yegle commented on #706
I briefly looked into this. My current understanding is that we either 1) wait for the opencensus-to-opentelemetry bridge (open-telemetry/opentelemetry-go#93) so that we can reuse the OpenCensus instrumentation code, or 2) simply rewrite our observability code to use OpenTelemetry library.

For option 2: rewrite in OpenTelemetry is fine for our custom metrics, but we also have many metrics to gain

[2020-11-02 19:30] sethvargo commented on #706
I'm personally fine dropping the o11y in sql.

[2020-11-02 20:22] mikehelmick commented on #946
Hello -

For the verification server, we have a set of well documented error codes
https://github.com/google/exposure-notifications-verification-server/blob/main/docs/api.md#api-methods

These are meant to indicate back to the client software the nature of the failure. code_invalid for example indicates the code is indeed invalid (Doesn't exist at the database) OR was already used.

The most likel

[2020-11-02 20:59] jendakol commented on #946
Hi,

we're well aware of the error codes, it would be an insane hell without them :-) Still, when the error is `code_expired`, it's 5 minutes old and its validity is 1h, something is very wrong and we're blind. We keep sending the user (I mean, this has indeed happened, multiple times!) new codes it doesn't help. Hence the need for much more thorough logging...

Spans across both servers would be

[2020-11-03 18:13] #946 closed

[2020-11-03 18:19] yuriatgoogle commented on #895
This can be accomplished using the --ingress [flag](https://cloud.google.com/sdk/gcloud/reference/alpha/run/deploy#--ingress) in Cloud Run, targeted for general availability by January.

[2020-11-03 19:05] sethvargo opened #959 "Do something about new Docker Hub rate limits"
Tests are sporadically failing due to new rate limits.

/assign

[2020-11-03 19:05] sethvargo commented on #895
Do we know when it's targeted for beta? I know it's alpha now.

[2020-11-03 19:09] yuriatgoogle commented on #895
Public preview "soon".

*Yuri Grinshteyn*

Customer Reliability Engineering

thegrinch@google.com

On Tue, Nov 3, 2020 at 11:06 AM Seth Vargo <notifications@github.com> wrote:

[2020-11-03 20:15] mikehelmick opened #961 "verification code improvements"
### TL;DR

Change indexes on verification_code so that code uniqueness is enforced by realm.

/kind enhancement
/assign

[2020-11-03 23:57] whaught opened #975 "System-admin level user managment"
### Currently
* We manage and search users within a realm scope
* Delete button to remove from current realm

### Proposal
* Mirror the users page / search in system admin with realm unscoped
* Option to remove from individual realms or all realms
* Option to 'disable' the user's login (in firebase auth rather than our User table)

### Why
Makes it easy to find a particular user in the system or d

[2020-11-03 23:57] whaught commented on #975
/assign

[2020-11-04 00:25] #961 closed

[2020-11-04 01:02] whaught commented on #910
/close

[2020-11-04 01:02] #910 closed

[2020-11-04 14:00] #810 closed

[2020-11-04 21:05] yegle commented on #706
I've found the grpc metrics we got for free useful in the past, that would be something nice to have if supported.

https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/instrumentation is the list of officially supported instrumentation libraries.

I'll start working on implementing our customer metrics in OpenTelemetry. We can continue exporting grpc/sql metrics using OpenCensus

[2020-11-04 21:10] yegle commented on #706
Tagging upstream issues:
- database/sql metrics support: https://github.com/open-telemetry/opentelemetry-go-contrib/issues/5
- grpc metrics support: https://github.com/open-telemetry/opentelemetry-go-contrib/issues/194

[2020-11-05 18:19] sethvargo commented on #868
I've thought about this more. None of the steps that occured in 171305680 would have actually deleted the project, so adding such an alert wouldn't have helped. I think it's safe to close this out as not-needed given our other remediation items.

[2020-11-05 18:19] #868 closed

[2020-11-05 18:58] sethvargo commented on #844
Talked with Brad offline, we'll

/close

this out for now.

[2020-11-05 18:58] #844 closed

[2020-11-06 00:41] mikehelmick opened #991 "system admin: list which realms have abuse prevention on"
### TL;DR

* list which realms have abuse prevention on
* showing the current quota settings is a nice to have

/kind enhancement
/assign @whaught

[2020-11-06 00:50] mikehelmick opened #993 "quota: limit KMS keys"
### TL;DR

As a cost protection measure, limit the number of non-deleted KMS signing keys a realm can have

3 should be enough?

/kind enhancement

[2020-11-06 17:20] sethvargo opened #998 "Cloud SQL regional outage resilience"
### TL;DR
https://cloud.google.com/sql/docs/postgres/replication/cross-region-replicas

[2020-11-06 19:56] #993 closed

[2020-11-06 20:01] #991 closed

[2020-11-06 20:32] whaught commented on #975
/close

[2020-11-06 20:32] #975 closed

[2020-11-06 20:33] whaught opened #1003 "Delete-from-realm link in system-admin user page"
### Summary
We recently added a user-details page to system admin which shows a list of realms. Let's add in a link to 'remove from realm' similar to the my-account page.

![leaverealm](https://user-images.githubusercontent.com/36240966/98412258-78119480-202c-11eb-8add-592061c33d42.png)

Currently we have:
`/admin/realms/{{$realm.ID}}/leave`
and
`/users/{{.ID}} data-method="DELETE"`

One assumes c

[2020-11-06 20:50] #959 closed

[2020-11-06 22:52] yegle opened #1009 "Add request id middleware and add request id to logs"
### TL;DR
In a single HTTP request handling code, there will be multiple log lines produced from various places.

It would be great if there's a unique "request id" for each incoming request, and then we can search for this string if we want to get all logged lines for that request.

[2020-11-07 00:18] sethvargo commented on #1009
@yegle lmk if you want me to take this - I have been wanting to do this for awhile.

[2020-11-07 01:34] #1003 closed

[2020-11-07 02:26] yegle commented on #1009
Feel free to take it! Looks like you got most of it already.

[2020-11-07 03:02] #1009 closed

[2020-11-09 16:47] #998 closed

[2020-11-09 18:17] sethvargo commented on #606
Do we still want to do this? I brought this up to @whaught in chat, but I'm worried about a situation where someone is using a shared Firebase account (e.g. shared among multiple login systems) and they want to disable that person's access to ENVS. It feels weird that ENVS would disable their overall account in that parent authentication system.

If we integrated directly with SAML, for example, I

[2020-11-09 18:24] whaught commented on #606
I agree with your point about the auth entry. I hadn't considered sharing auth with this system and others. That said we still might want to delete the ENVS User entry after a time.

[2020-11-09 22:40] whaught opened #1026 "Update routing paths"
### Update existing paths
Update our paths to the following:
* [x]  `/realm/settings`
* [x]  `/realm/stats`
* [x]  `/realm/keys`
* [x]  `/realm/events`
* [x]  `/users` => `/realm/users`
* [x]  `/apikeys` => `/realm/api-keys`
* [x]  `/mobileapps` => `/realm/mobile-apps`
* [x]  `/home` => `/codes/issue` (and rename controller)
* [x]  `/stats` => `/codes/stats`

### Make moving paths less errorprone

[2020-11-09 22:44] sethvargo commented on #1026
Let's brainstorm this out. Sounds like we both have some ideas 😄

[2020-11-09 22:53] whaught commented on #1026
I know you love common frameworks, so I trust your ideas if you've got em

[2020-11-09 23:20] greggles opened #1028 "500 and 429 responses on /api/issue?"
### Question
We are testing out sending out codes to phone numbers in batches (happy to discuss the motivation and use case separately from this issue).

I've built out error handling for the various response messages to expect in [the API.md](https://github.com/google/exposure-notifications-verification-server/blob/main/docs/api.md) but find

1. More 500 responses than I expect - I'm starting to

[2020-11-09 23:32] sethvargo commented on #1028
Hi @greggles,

Are you getting a response body? It should include an `errors` key. If not, can you let me know which server you're using and I can investigate and see if there's anything in the server logs. Timestamps would be helpful too.

The possibility of a rate limited is documented [in api.md](https://github.com/google/exposure-notifications-verification-server/blob/6e41c7c06fba2724034ea2827

[2020-11-09 23:45] greggles commented on #1028
I'll double check, but the 500s seem to have an empty body. I will investigate some more and let you know what I find. I'll provide some timestamps if I need more help.

Sorry for missing that part of the doc. I guess I was reading the earlier error code tables and didn't realize general codes are at the bottom of the doc. That's great advice about 60 tokens per minute. I'll try that out.

[2020-11-09 23:49] sethvargo commented on #1028
If they have an empty body, that's a bug. The body should _at least_ contain `{}`. I just looked at the code and we do return an error if the SMS fails, however we don't currently tell you why - it's just "failed to send sms".

I do, however, think I see a bug which I'll patch up in a moment.

[2020-11-09 23:56] sethvargo commented on #1028
https://github.com/google/exposure-notifications-verification-server/pull/1031

[2020-11-10 17:50] mikehelmick opened #1049 "Change chaff requests to respond with JSON"
### TL;DR

The go-chaff library already supports this
  https://github.com/mikehelmick/go-chaff/blob/main/json.go

Use this to respond w/ properly formed JSON based on the request being chaffed - for our APIs, this really just means having a `padding` key in the JSON object.

REMEMBER - the size of the random data will need to be reduced as base 64 encoding will cause ~33% size increase.

/priorit

[2020-11-10 17:51] mikehelmick commented on #1049
related: https://github.com/google/exposure-notifications-server/issues/1155

[2020-11-10 18:38] sethvargo commented on #1026
Also add tests for routes

[2020-11-10 18:40] whaught commented on #1026
Cover: https://github.com/google/exposure-notifications-verification-server/pull/1047

[2020-11-10 23:35] yegle opened #1055 "Create Cloud Monitoring MetricDescriptor from Go code"
We used to manage MetricDescriptor in Terraform. It turned out to be a bad idea. There's no way to "update" a MetricDescriptor, therefore modification to `google_monitoring_metric_descriptor` resources are implemented as delete and recreate in Terraform. If we want to update a metric descriptor while it's still being exported by the running service, the metric will be recreated by the export of th

[2020-11-11 00:27] whaught opened #1056 "Export users to CSV"
### Export users to CSV
We currently accept a .csv file for creating users, we should create a link to easily export a realm to a .CSV
This can help move folks from custom servers to EN Express (or any other realm)

[2020-11-11 00:28] whaught commented on #1056
/assign

[2020-11-11 02:12] mikehelmick commented on #1028
In our reference setup - I think we can relax the rate limit a bit for the adminapi server

@greggles - I looked at the logs and the 500s here are indeed from Twilio, which once #1031 rolls out, that will propagate back to you

""The 'To' phone number: `XXXX is not currently reachable using the 'From' phone number: XXXX via SMS." "

[2020-11-11 02:14] greggles commented on #1028
Super helpful, thanks, mike!

The rate limit is fine by me. I put a sleep in the calling code and the throughput is acceptable for us.

[2020-11-11 02:14] mikehelmick commented on #1028
Here is the Twilio page that documents that error: https://www.twilio.com/docs/api/errors/21612

[2020-11-11 11:01] marekaf opened #1060 "Stackdriver Metric Volume optimization"
Hello 👋
I was wondering if it's configurable (in both key and verification servers) what sort of metrics are to be exported to Stackdriver.

Our biggest cost on GCP is Stackdriver Metric Volume (exceeding even the cost of delivering zipped keys to 1.5m+ mobile users).

When I look in the Metrics Explorer in Stackdriver at the metric `Metric bytes ingested` I can clearly see that the ones with the

[2020-11-11 15:46] greggles commented on #1028
I think this question might be resolved if you agree. If you want me to verify anything before it's closed I can try to do that.

You've been super helpful. Thank you!

[2020-11-11 15:51] mikehelmick commented on #1028
great - I'll mark this as closed. Let us know if anything else comes up.

/close

[2020-11-11 15:51] #1028 closed

[2020-11-11 15:51] mikehelmick commented on #1060
/assign @yegle
Can you look into this?

[2020-11-11 16:13] yegle commented on #1060
Hi Marek, thanks for reporting this issue!

These are the metrics we get for free from opencensus etc. These are occasionally useful (e.g. check Stackdriver gRPC client latency to set appropriate timeout value).

There's currently no way to config/disable them, but I'll add the knob now.

[2020-11-11 17:57] mikehelmick opened #1061 "Bulk code issuance"
### TL;DR

Write a command line tool that process a CSV file in the format of

[code]

i.e.

[code]

### Design

Needs an admin API key, admin API endpoint, and request rate.
The tool should respect 429s and backoff to quota reset points as well.

/kind enhancement

[2020-11-11 20:48] yegle opened #1064 "Many metrics are missing/empty"
While working on a tabletop exercise, we discovered many metrics have been missing data points since Nov 9.

![image](https://user-images.githubusercontent.com/146133/98862734-3b72de00-241c-11eb-9fff-5ef626bea2f9.png)

[2020-11-11 20:49] yegle commented on #1064
/cc @mariliamelo

[2020-11-11 21:08] yegle commented on #1064
I think I figured out what's going on here.

We used to manage metric descriptors in Terraform. The Metric Descriptors are immutable, thus modification to the metric descriptor resource in Terraform will result in a destroy+recreate.

Between the gap when the old MD is destroyed and the new MD is created, the running Cloud Run services kept calling `CreateTimeSeries` on an non-exist metric, and Cl

[2020-11-11 21:13] yegle opened #1065 "Add an alert on OpenCensus metric export errors"
See https://github.com/google/exposure-notifications-verification-server/issues/1064.

We should have an alert on the metric export issue.

It has to be a log based alert since we can't rely on OpenCensus on this one.

[2020-11-11 22:29] whaught commented on #1056
/close

[2020-11-11 22:29] #1056 closed

[2020-11-11 22:38] yegle commented on #1064
The issue is resolved.

Quick recap on what I did:

1. Do a log query to find the metric that has a wrong metric_type:
[code]

Example error:
[code]

Go to http://cloud/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors/delete and delete the metric. If failed to delete due to referenced in alert policy, delete the policy first. The metric should be recreated by OpenCensus automatically in fe

[2020-11-11 22:38] #1064 closed

[2020-11-12 03:28] #1049 closed

[2020-11-12 16:01] #1065 closed

[2020-11-12 18:05] bschlaman opened #1073 "notification-email set in en-alerting module does not update"
### TL;DR
can't set notification-email variable if importing the alerting terraform as a module

**Expected behavior**
notification-email reflects in module

**Observed behavior**
variable is not

### Reproduction
1. Import this repo (/terraform/alerting) as a module in tf
2. Set notification-email variable in the module
3. Terraform plan will not update the email config

[2020-11-12 18:07] yegle opened #1075 "Unit test to ensure mapping between alert and playbook"
We should have a unit test to ensure 1:1 mapping between the playbook and the alerts.

[2020-11-12 18:30] #1073 closed

[2020-11-12 18:51] mikehelmick opened #1076 "add audit-ID to issue API"
### TL;DR

Add an `auditID` field to the IssueCodeRequest API. This should be ignored via the web UI (the logged in user is the auditID).

This auditID should be used to calculate the current realm statistics alongside actual logged in users.

The use case for this is a 3rd party EHR type integration where they want to (on their side) track which physicians have issued codes by assigning a unique

[2020-11-12 23:53] mikehelmick opened #1082 "twilio lookup"
### TL;DR

Investigate using the lookup API: https://www.twilio.com/docs/lookup
See if this would reduce our false positive SMS sends

/kind enhancement

[2020-11-13 00:05] mikehelmick opened #1083 "i18n"
### TL;DR

Prepare key strings in the issue code UI (not the admin UI) for internationalization.

No translation or language settings just yet.

/kind enhancement
/assign @sethvargo

[2020-11-13 00:06] mikehelmick opened #1084 "Timezone support"
### TL;DR

Add the ability for a realm to select their home timezone (ignore that a realm could span multiple timezones).

When calculating statistics - use the timezone offset to group by the local day, rather than the UTC day.

/kind enhancement
/assign @jeremyfaller

[2020-11-13 00:23] #824 closed

[2020-11-13 02:29] whaught commented on #1061
/assign

Taking this one. After some discussion, I think folks are okay with attempting to do this not as a CLI tool, but as a javascript one. This will make it easier to ship and maintain, and lowers the bar to easy use. The downside is we won't be able to write back to files and that sort of thing.

[2020-11-13 14:25] sethvargo commented on #1082
Lookup costs money to determine line type (mobile vs land vs voip). We can do it, but it'll add $0.005 per SMS. What kinds of false positives are we seeing?

[2020-11-13 14:50] sethvargo commented on #1082
https://github.com/google/exposure-notifications-verification-server/pull/1087, but we should talk about the pricing diff.

[2020-11-13 16:19] mikehelmick commented on #1082
This should likely be optional.

The use cases for this is bulk send where you just have a bunch of phone numbers and don't know if they are landlines, mobile, SMS capable...

[2020-11-13 18:57] whaught opened #1090 "Drop /home in a few releases"
We're unifying the verification server paths on /code for issue, status, and bulk uploads, but still serving /home for no.
Once this has been out for a few releases, we can safely drop the /home path

/assign

[2020-11-13 19:22] whaught opened #1091 "Limiter should only consume quota on success"
At the moment we consume abuse-prevention quota right before issuing a code. If issuance fails repeatedly, we could have an inaccurate count of how many codes a user has issued.

We could take quota on success, but if we're concerned about fail-in-the-middle we might want to instead put back one quota on failure?

/assign

[2020-11-13 23:00] mikehelmick opened #1092 "Sync android apps to realm mobile apps"
### TL;DR

Automatically import Google ENX Application configuration into the verification server IFF there is a realm that matches the ISO code.

Google will publish a file of public mobile apps @
https://www.gstatic.com/exposurenotifications/apps.json

The format is:

[code]

### Design

**Proposal**

- Create a new job for importing this periodically
- If a realm exists for the specified region

[2020-11-14 19:44] #1060 closed

[2020-11-15 14:10] sethvargo commented on #1091
What kind of failure are you seeing? AFAIK, the only failure that can occur is a database-level issue. If you're concerned about SMS failures, that happens _after_ successful code generation; putting quota back would open up an avenue for abuse.

[2020-11-15 14:49] sethvargo commented on #1082
See PR for more information.

[2020-11-15 14:49] #1082 closed

[2020-11-16 01:21] whaught commented on #1091
Not seeing failures. The failure I am worried about is database-level. Specifically I made the index on UUID unique and allow it to be client-provided. It gives 409 conflict if there's a dupe, but that consumes quota. The other db failures are less likely, but I wanted to track an issue to think about/remember this case.

[2020-11-16 17:16] sethvargo commented on #1026
@whaught I think we should leave stats at /realm/stats as-is. While all stats are for codes, that might not be the case in the future. If you agree, let's mark this as done?

[2020-11-16 19:12] yegle opened #1099 "Migrate load balancer terraform configs to use official module"
There's an official terraform module to set up Cloud Load Balancer that might worth migrate to.

https://github.com/terraform-google-modules/terraform-google-lb-http

Example config: https://github.com/ahmetb/terraform-google-lb-http/tree/serverless/examples/cloudrun

[2020-11-16 19:13] sethvargo commented on #1099
Nah

[2020-11-16 19:18] mariliamelo opened #1100 "Add a metric on per-user code issue count."
We should be able to report how many codes have a given user issued in the system for a given day.

[2020-11-16 19:23] mariliamelo commented on #1100
/observability

[2020-11-16 19:29] sethvargo commented on #1100
Are we emitting the user id too? We need to be careful about the privacy preserving nature...

[2020-11-16 21:27] yegle commented on #1100
Is exposing the numerical user id a concern here? We otherwise won't be able to identify where the excessive verification tokens are issued from.

[2020-11-16 21:29] sethvargo commented on #1100
It's the numerical ID + timestamp that could be used to correlate back to a real human given enough information.

[2020-11-16 22:12] sethvargo opened #1103 "Upgrade to Postgres 13"
https://cloud.google.com/blog/products/databases/cloud-sql-database-service-adds-postgresql-13

[2020-11-16 22:24] mikehelmick commented on #1103
I am interested in pgaudit and point in time recovery

/kind enhancement

[2020-11-17 00:21] yegle commented on #706
Currently blocked by https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/117

[2020-11-17 04:03] sethvargo opened #1106 "Update bulk issue form"
Some bootstrap issues from https://github.com/google/exposure-notifications-verification-server/pull/1069

/assign

[2020-11-17 04:47] #1106 closed

[2020-11-17 06:03] #1075 closed

[2020-11-17 15:16] #1083 closed

[2020-11-17 17:51] mikehelmick commented on #1100
I don't think we want this in the metrics
this is specific to the realm and should stay there

[2020-11-17 18:09] mariliamelo commented on #1100
As Mike mentioned, a real admin can already see how many codes a given user has issued, so we don't need to export it in the metrics.

[2020-11-17 18:09] #1100 closed

[2020-11-17 19:22] chaodaiG opened #1119 "Fresh terraform deployment failed due to cmd/server failed to load locales"
### TL;DR

It was caught in terraform smoke test that terraform deploy failed on `cmd/server` service not up.

Error from stackdriver:
[code]

Stackdriver link: https://pantheon.corp.google.com/logs/query;query=resource.type%3D%22cloud_run_revision%22%0Aresource.labels.service_name%3D%22server%22%0Aresource.labels.revision_name%3D%22server-l6sfs%22;timeRange=2020-11-17T17:11:05.934Z%2F2020-11-17T1

[2020-11-17 19:22] chaodaiG commented on #1119
/assign @sethvargo

[2020-11-17 21:15] sethvargo commented on #1119
https://github.com/google/exposure-notifications-verification-server/pull/1122

[2020-11-17 21:15] #1091 closed

[2020-11-17 22:09] #1119 closed

[2020-11-17 22:35] #1026 closed

[2020-11-17 22:45] sethvargo commented on #1090
/close

There are redirects in place, so we can leave /home in forever.

[2020-11-17 22:45] #1090 closed

[2020-11-17 22:49] #926 closed

[2020-11-17 23:33] mariliamelo opened #1126 "Add a query parameter to test notification channels"
### TL;DR
Consider adding a query param to the health endpoint that fires an alert and enables testing the notification channels.

**Additional information**

[2020-11-18 15:46] sethvargo opened #1131 "Cannot enable MFA without being a member of at least one realm"
### TL;DR
As a system admin, I want to enable MFA. If I'm not a member of a realm, attempting to register a phone number results in "Please select a realm to continue."

![screenshot-20201118-104548](https://user-images.githubusercontent.com/408570/99552725-564cd180-298b-11eb-8914-b98ee3193300.gif)

[2020-11-18 15:47] sethvargo commented on #1131
/assign @whaught

[2020-11-18 16:15] #1131 closed

[2020-11-18 17:06] whaught commented on #606
/assign

[2020-11-18 20:17] sethvargo opened #1139 "Add maintenance mode"
System setting only available to system admins. If set, add a banner to all pages. Can be used to annotate an outage or upcoming maintenance across all realms.

- [ ] Database setting
- [ ] HTML banner
- [ ] Return 429s in `InternalError` handler when maint is active (maybe just for issueapi)

[2020-11-18 20:17] sethvargo commented on #1139
/cc @whaught if you have time

[2020-11-18 20:25] sethvargo commented on #1103
Proposed migration path for minimal downtime:

1. Tell Terraform to stop managing the existing database resources. This does not delete them, it just removes them from Terraform's understanding of the world:

[code]

1. Run a **targeted apply** to create the new databases:

[code]

1. Create an export for the old database (it's still active), saving it to Cloud Storage (Web UI is easiest).

1. Res

[2020-11-18 20:25] whaught commented on #1139
/assign

[2020-11-18 21:24] sethvargo commented on #1139
Maybe envvar instead of database, but db might be better to sync across the 3 services...

[2020-11-18 23:40] mikehelmick commented on #1103
LGTM- should update to reflect that we introduced application level read only mode

[2020-11-18 23:46] #1139 closed

[2020-11-19 01:44] sethvargo opened #1144 "Create system admin guide"
Similar to how we have user guides and realm guides, create a system admin guide.

[2020-11-19 01:52] sethvargo commented on #1103
Updated

[2020-11-19 17:35] jeremyfaller commented on #1084
/close

[2020-11-19 17:35] #1084 closed

[2020-11-19 22:39] yegle commented on #706
Looks like https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/114 is trying to solve this fundamental problem.

The TLDR of the issue: OpenTelemetry's model of "monitored resources" has a mismatch to Cloud Monitoring's monitored resources. The current conversion between these two "resources" is to use heuristics. Adding more heuristic to support `generic_task` doesn't seem t

[2020-11-19 22:40] yegle commented on #532
We might not need this after all. We are currently fine with having dashboards/alerts in different projects.

[2020-11-19 22:40] #532 closed

[2020-11-19 22:41] yegle commented on #460
This is likely not needed (or not urgent enough to have it). I'll close this for now.

[2020-11-19 22:41] #460 closed

[2020-11-20 00:07] sethvargo opened #1150 "Enable pgaudit"
Enable pgaudit

Requires https://github.com/google/exposure-notifications-verification-server/issues/1103 everywhere first.

/assign

[2020-11-20 00:22] sethvargo opened #1152 "e2e-runner failure"
[code]

[2020-11-20 00:23] sethvargo commented on #1152
blah nvm

[2020-11-20 00:23] #1152 closed

[2020-11-20 15:08] sethvargo opened #1153 "Exclude e2e from audit logs"
The system event log is quite littered with actions by the e2e-runner, making it _incredibly_ difficult to discern actual behavior for the data. Should we exclude the e2e-runner from events/audits? We can either prevent creating them or prevent showing them.

@whaught @chaodaiG thoughts?

<img width="743" alt="screenshot-20201120-100808@2x" src="https://user-images.githubusercontent.com/408570/998

[2020-11-20 15:41] chaodaiG commented on #1153
Agree that these should not be shown, hiding them is preferable to me

[2020-11-20 17:11] whaught commented on #1153
/assign

[2020-11-20 17:12] whaught commented on #1153
I don't want to skip logging per-se (I don't want there to exist a way to bypass), but I think the ability to mark and AppId as 'test' and have a static Auditable SystemTest instead of just System. Then we can implement a filter in the logs to not show these by default with a checkbox to show them.

Thoughts?

[2020-11-20 17:57] sethvargo commented on #1153
I think that's fine, but I'm curious why add `IsTest` to auditable? We can just filter audits where the principle is SystemTest (which feels cleaner)

[2020-11-20 18:04] whaught commented on #1153
Because we can use SystemTest for the things where System was the auditable, but parts of the the test eg. https://github.com/google/exposure-notifications-verification-server/blob/d2c677772dd08b06c1f7e61506370cae2218c28c/pkg/clients/e2e.go#L93
Also are taking actions that will go to the realm log. This allows us to filter any kind of test. If PWC wants to build external tests in the future, this

[2020-11-20 18:44] sethvargo commented on #1153
My pref would be to just use SystemTest for now. We could also build a system-admin-only portal to generate API keys that are tagged as SystemTest that PWC could use for their testing.

[2020-11-20 18:53] jeremyfaller opened #1158 "Migration 00017 is incorrect"
Rollback on 00017 is incorrect. It deletes `VerificationCode` twice.

I'm in the middle of something, and can't fix right this second. Marking it here for posterity.

EDITTING:

I'm am less sure this is an issue, but it definitely doesn't remove `UserStats`

[2020-11-20 19:22] sethvargo commented on #1158
I think many of our rollbacks are incorrect to be honest, and they are really difficult to test.

[2020-11-21 00:43] sethvargo opened #1168 "Require password re-validation or MFA to reset current user's password"
### TL;DR
The current user needs to provide something at reset time (either MFA or current password).

[2020-11-21 00:43] sethvargo commented on #1168
/assign @whaught

[2020-11-21 01:19] whaught commented on #1168
This makes a lot of sense for us to do. Firebase sort-of does this by requiring _recent_ auth. Practically that means that if you haven't logged in in the last two minutes, our password change fails and kicks you out jarringly back to the sign-in page. Requiring reauthenticate right before change will eliminate the mystery failure (and is more secure).

[2020-11-21 16:24] #1158 closed

[2020-11-22 16:13] sethvargo commented on #1103
This is done in all environments.

[2020-11-22 16:13] #1103 closed

[2020-11-24 06:26] yegle opened #1180 "Ream id is missing from some metric"
Take the following MQL as an example:

[code]

If zoom out to 1 months of history data, we can see prior to Nov 10 the group by works as intended. We had a gap between Nov 10 and Nov 11, presumably due to https://github.com/google/exposure-notifications-verification-server/issues/1064. But after the data is back, all of them have realm label containing empty string.

[2020-11-24 06:52] yegle commented on #1180
Confirmed the metric descriptor contains the `realm` label:

[code]

[2020-11-24 07:19] yegle commented on #1180
Looks like in some functions we call `defer observability.RecordLatency(...)` at the beginning of the function body, but we call `observability.WithRealmID(...)` much later until we can determine the realm id from the request.

We should capture ctx pointer in `observability.RecordLatency(...)`.

[2020-11-24 14:54] #1180 closed

[2020-11-24 17:38] #1150 closed

[2020-11-24 18:24] #1153 closed

[2020-11-24 19:29] #606 closed

[2020-11-24 19:38] whaught commented on #1168
/close

[2020-11-24 19:38] #1168 closed

[2020-11-24 20:00] sethvargo commented on #1126
Added the scaffolding for this in #1187 (can be merged as-is). You'll be able to hit /healthz?service=alerts. I'm gonna defer the actual alert and its notification setup to yall.

[2020-11-24 20:25] whaught commented on #1061
I'm going to /close this as done. There may be more to add with error handling and additional fields, but I want to hear that user-feedback before doing more

[2020-11-24 20:27] #1061 closed

[2020-11-24 20:52] whaught commented on #1092
/assign

[2020-11-25 00:37] yegle commented on #1055
The only solution I can think of is to create a test for each main package, and call `observability.AllViews()` in the test to convert view to MetricDescriptor JSON files. We can then have a shell script to create MetricDescriptor from the json files.

[2020-11-25 19:09] marekaf opened #1194 "0.17.0 can't be built"
### TL;DR
0.17.0 is missing oe.StartExporter argument

I'm getting:
[code]
it is fixed here:
https://github.com/google/exposure-notifications-verification-server/commit/f2f83107943c7077bf9866c4230511498ca054fd

**Expected behavior**
0.17.0 can be built

**Possible solution**
Can somebody do 0.17.1 with this commit cherry-picked?

thanks.

[2020-11-25 19:32] mikehelmick commented on #1194
/assign @whaught

I think this has just been fixed - if so, can you cut a .1

[2020-11-25 19:40] whaught commented on #1194
This was corrected shortly after the branch was made. Should work in 0.17.0

[2020-11-25 19:42] whaught commented on #1194
https://github.com/google/exposure-notifications-verification-server/commit/f2f83107943c7077bf9866c4230511498ca054fd